[2022-08-18 21:20] jochem-brouwer commented on #2181
If we do that, we require the interface to implement those events, which is not exactly necessary to work with our libraries.

For a non-runtime fix see #2182

[2022-08-18 22:02] davidmurdoch commented on #2181
Your Generics solution looks to be more useful to Ganache!

[2022-08-18 22:57] jochem-brouwer commented on #2181
That's great, in that case I will continue on that tomorrow (unless @acolytec3 or someone else has reservations here). We can most likely also solve the problem with the `EEIInterface`.

[2022-08-19 06:20] holgerd77 commented on #2106
I was just reading "tests didn't work any more and no one noticed" from your initial comment/introduction here and therefore concluded that there is likely no kind of guard in place.

[2022-08-19 10:48] jochem-brouwer commented on #2106
Ah right; since we do not run these type of tests on the CI we did not notice it was failing. But the tests should guard against this problem :+1:

[2022-08-19 11:15] holgerd77 commented on #2106
Ok, cool! 🙂

What's the state of the assicated PR? Can this be updated and would be still open for review? VM API tests are currently failing?

[2022-08-19 11:32] jochem-brouwer commented on #2106
Oh whoops, I did not notice that the CI was failing, will update!

[2022-08-19 11:36] jochem-brouwer commented on #2106
OK, it failed due to newly introduced linting rules, it should pass now.

[2022-08-19 11:43] holgerd77 commented on #2106
Ah, that makes sense, cool, will give it a go then! 👍

[2022-08-19 12:41] #2106 closed

[2022-08-19 15:27] paulmillr opened #2193 "Remove unused dependencies"
Based on @faustbrian analysis from #2190

- `buffer-xor` - (1 sub-dep) can be easily replaced with 5-line function
- `core-js-pure` - used for shimming `Set`, our targets should support `Set` as-is
- `fs-extra` - used for `ensureDirSync` in `client`, also `readFileSync` but that's available in `fs`. I would argue to replace it, since it has 3 deps, graceful-fs etc.
- `inherits`, `it-pipe`, `it-pus

[2022-08-19 15:35] paulmillr commented on #2193
unused devDeps:

- `@babel/plugin-transform-spread`, `node-fetch`, `pino-pretty`, `pull-pair`
- `node-dir` in `evm`, `tx`
- `web3` in `trie` is only used in `examples`, but not in tests or src. Can we create examples package.json so that it's not fetched by default when tests are executed?

Not sure if used, from webpack.config.js:

[code]

[2022-08-19 16:12] paulmillr commented on #2193
- `master` npm install: `added 1925 packages, and audited 1939 packages in 40s`
- After removing all those packages: `removed 217 packages, and audited 1722 packages`
- After replacing `fs-extra` (a bit more complex): `removed 4 packages, and audited 1718 packages`

[2022-08-19 16:26] holgerd77 commented on #2193
Totally love it that this gets some serious attention! ❤️

[2022-08-19 17:30] paulmillr commented on #1632
My 2c-s on this issue: would be great to just switch to ESM, instead of providing cjs/esm double-builds.

That's 2x less code to include in npm installs, and 2x less cases to support. Most stuff supports esm these days. Also cjs modules can be imported from esm, but not wise versa.

[2022-08-20 17:01] #2193 closed

[2022-08-20 19:03] paulmillr opened #2198 "Update libp2p"
Client uses `"libp2p": "^0.30.7"`, which is quite old, and has some security warnings related to outdated deps. Current version is 0.38, I think we should update it and all its peer/sub deps to the following versions:

[code]

Note that old plugins were `libp2p-x` / `peer-id`, new ones are `@libp2p/x`

[2022-08-20 19:07] paulmillr opened #2199 "Rename lib directory to src in client"
This is a legacy inconsistency issue, we've mentioned it should be renamed in #2193

[2022-08-21 15:09] jochem-brouwer commented on #2102
@faustbrian I'd say about 4 hours, but this depends on a few assumptions which I made in order to implement it. If that works then it should be doable in that time, but if I find some hiccups then this would take longer. In my head this would work, but not sure if it actually does :smile:

There is a structural question here though which we have raised before; ideally, Trie should use decorators f

[2022-08-22 10:53] holgerd77 commented on #2198
Yes, that would generally make a lot of sense! Just for some context: we had a lot of discussions lately if it would be worth to keep the libp2p support integrated or not with various arguments in both directions. Outcome of this discussion would obviously influence the update need! 🙂

[2022-08-22 10:55] acolytec3 commented on #2198
Yup, this is part of #1967.

[2022-08-22 11:23] holgerd77 commented on #2198
Ah, ok, then let#s keep #1967 as a meta-issue, will close here.

[2022-08-22 11:23] #2198 closed

[2022-08-22 11:24] holgerd77 commented on #1967
Will copy over some information from @paulmillr from a related sub-issue #2198 on the libp2p update:

[2022-08-23 04:41] faustbrian opened #2211 "`Stack underflow` with `Checkpoint` and `Secure` tries"
So today I updated to the `master` branch to test all of the latest trie changes combined but am running into an `Stack underflow` error for some reason. It ends up throwing here, which is caused by it not finding a last node: https://github.com/ethereumjs/ethereumjs-monorepo/blob/c6254cefa513d32cf5cd4d6e8ce91b69d32dd93d/packages/trie/src/trie/trie.ts#L309 Does that mean it's trying to update some

[2022-08-23 04:57] #2211 closed, assigned to nobody

[2022-08-23 08:24] holgerd77 opened #2212 "VM Nighly CI failing (npm ci command)"
The [VM nighly](https://github.com/ethereumjs/ethereumjs-monorepo/blob/master/.github/workflows/vm-nightly-test.yml) ci run is currently [failing](https://github.com/ethereumjs/ethereumjs-monorepo/actions/runs/2908448073) with the following error (seems `npm ci` related):

[code]

This should be fixed. 🙂

[2022-08-23 14:55] #2212 closed

[2022-08-26 15:32] jochem-brouwer commented on #2181
This is closed by #1955, #2184, #2235

[2022-08-26 15:32] #2181 closed

[2022-08-26 15:43] jochem-brouwer commented on #2080
I don't remember anymore what the original issue was but I think this was related with the failing merge tests. Since the option is now removed this issue is not relevant anymore so will close.

[2022-08-26 15:43] #2080 closed

[2022-08-26 16:00] jochem-brouwer commented on #835
Is this addressed in https://github.com/ethereumjs/ethereumjs-monorepo/pull/2201 ? CC @faustbrian

[2022-08-26 16:01] jochem-brouwer commented on #727
I am not sure if this is possible in Common anymore, since we now have custom precompiles, which Common is not aware of?

[2022-08-26 16:03] jochem-brouwer commented on #1054
So this essentially means that we can now create the proof to feed in `verifyRangeProof`, right? Very exciting.

[2022-08-26 16:05] jochem-brouwer commented on #1052
I'm pretty sure this is addressed in Trie's `fromProof` method. What you do here is first you set the root of whatever root the merkle proof should be, and then dump in the merkle proof into the `fromProof`. The key/value pairs are not necessary here.

[2022-08-26 16:50] jochem-brouwer commented on #835
OK, will close.

[2022-08-27 03:48] jochem-brouwer commented on #1303
There is a nonce check here, which is OK with this issue:

https://github.com/ethereumjs/ethereumjs-monorepo/blob/a87f179938d9b22902893dc4d1af0bf4b8b63e76/packages/tx/src/baseTransaction.ts#L119

However, I'm not sure about the balance check, should we interally limit to 32 bytes balance?

[2022-08-28 23:43] gabrocheleau opened #2245 "Evaluate dual `receiptRoot`/`receiptsRoot` usage in `blockHeaderFromRpc` method"
There are instances in the repository where `receiptRoot` is (or can be) used instead of `receiptsRoot` in a JSON-RPC block ([example](https://github.com/ethereumjs/ethereumjs-monorepo/blob/master/packages/block/src/header-from-rpc.ts#L21)). From reading the [docs](https://ethereum.org/en/developers/docs/apis/json-rpc/#eth_getblockbyhash), it seems that only `receiptsRoot` is the valid one, and `r

[2022-08-29 14:19] holgerd77 commented on #727
I will close this issue for now since it is open for 2+ years and was in discussion respectively not completely clear if wanted/needed from the beginning.

Fell free to re-open if the need (re-)arises.

[2022-08-29 14:19] #727 closed

[2022-08-29 14:24] holgerd77 commented on #2080
For the record: this option has [not been removed](https://github.com/ethereumjs/ethereumjs-monorepo/blob/master/packages/vm/src/types.ts#L131) from the VM.

[2022-08-29 14:55] holgerd77 commented on #2245
This is also in the result object of `VM.runBlock()` and (I guess only used) in VM -> Benchmarks.

I wonder if we would want to update here *all* monorepo occurrences *before* the final releases, since this is at the end breaking and at the same time a very small change towards the correct version?

Would be inclined to do so, especially since we could - e.g. for the RPC result - in the worst case

[2022-08-29 14:59] gabrocheleau commented on #2245
Yeah, would make sense to get this done before the final release, will push a PR within a day or two

[2022-08-29 15:11] #2065 closed

[2022-08-29 15:33] holgerd77 commented on #1054
The above comment is hard to read, this here is an issue, what do you mean with "this" from "so this essentially..."? 🤔

[2022-08-30 03:32] jochem-brouwer commented on #1054
Yeah I actually meant the issue itself :)

[2022-08-30 15:24] gabrocheleau opened #2260 "Consider making vm's `hardforkByTTD` non-optional"
In `vm.ts` this field is marked as optional, but it looks to me that it is always being set? I think we can improve here by making that field non-optional?

_Originally posted by @jochem-brouwer in https://github.com/ethereumjs/ethereumjs-monorepo/pull/2248#discussion_r958042755_

[2022-08-30 19:52] #2245 closed

[2022-08-30 19:57] gabrocheleau commented on #2158
Not necessarily against this, but two things come to mind:

- To my knowledge, JSON only supports `null` and not `undefined`. Our repo is heavily reliant on .json files for configuration, testing, etc. What do you think would be the best way to handle this?
- In my view, `null` stands for "defined" empty, while `undefined` is "undefined" empty (at least that's how I try to use it). Would be good t

[2022-08-31 02:15] jochem-brouwer opened #2262 "Implement eth/67"
This just removes two methods from `devp2p` so that should not be a super big problem.

[2022-08-31 02:40] jochem-brouwer commented on #2260
I've checked, cannot infer that it is non-optional because `toType(undefined, TypeOutput.BigInt)` returns `undefined`. Plus, we do not want to default it to a number, because then each time when we try to set the hardfork, it will feed this number into common where it will do the difficulty check, i.e. if merge happened. Will close.

[2022-08-31 02:40] #2260 closed

[2022-08-31 04:06] rashidmya commented on #2262
I can give it a go. which two methods to remove?

[2022-08-31 04:07] jochem-brouwer commented on #2262
Hi @rashidmya, see https://github.com/ethereum/devp2p/blob/master/caps/eth.md#eth67-eip-4938-march-2022 :)

[2022-08-31 09:02] jochem-brouwer opened #2265 "Fix codecov/patch"
Codecov/patch job randomly fails (or not). I think this might have to do with whatever package gets coverage-tested first, and then that patch coverage is reported.

[2022-08-31 10:41] jochem-brouwer commented on #2036
Do you know where you have found this page?

[2022-09-01 05:30] jochem-brouwer opened #2267 "Implement "beam-execution"-like style for client RPC endpoint"
See #1171 for context

Implement beam sync and only expose this on the RPC endpoint. This thus means you can quickly spin up a client, run whatever `eth_` RPC call you want, and this should then work. Note that we should run snap sync in parallel. What is also interesting is to run beam+snap sync together, then all "live accounts" which were hit in the block were also imported into the trie.

Note

[2022-09-01 11:43] holgerd77 commented on #2036
Yes, here https://hivetests.ethdevops.io/ and here https://hivetests2.ethdevops.io/, and then click on "Load".

EthereumJS tests didn't seem to have run for some time though, I only could find some entries on page 2 of the first URL.

[2022-09-01 12:06] jochem-brouwer commented on #2036
Ah right sorry should have updated the question. The tests for hivetests2 do not run, the reason is Cesar once made us run the `execution` sim, but this one has been split up / renamed to `execution-api` and some other sims (asked this on R&D). I will look into this ASAP

[2022-09-01 20:14] #2102 closed

[2022-09-06 20:21] acolytec3 commented on #2032
Can we officially close this now?

[2022-09-07 10:26] #2032 closed

[2022-09-07 17:05] MicaiahReid opened #2273 "Upgrade guide recommends errant import"
Hi! I'm working on upgrading Ganache to the latest release. The `@ethereumjs/trie` package's [first line of code in the upgrade guide](https://github.com/ethereumjs/ethereumjs-monorepo/blob/master/packages/trie/UPGRADING.md#implementation) to implement a `LevelDB` class has the following:
[code]

This line doesn't work because `@ethereumjs/util` doesn't have an `isTruthy` export. In fact, a search

[2022-09-07 17:36] acolytec3 commented on #2273
Thanks for the catch.  We'll update the readme to reflect the current state of things.

[2022-09-07 22:22] #2273 closed

[2022-09-08 09:06] holgerd77 opened #2275 "Client: Node 18 Nightly CI Runs Failing"
Currently the nightly CI tests on Node 18 are failing, see e.g. [this CI run](https://github.com/ethereumjs/ethereumjs-monorepo/runs/8240751506?check_suite_focus=true).

Concretely the following client tests are failing, all very concrete and deterministic tests where there is a clear behavior-not-working-correctly error message:

- not ok 45 gas limit should be double previous block
- not ok 46 b

[2022-09-12 09:23] felicityin opened #2278 "When trie start supporting multiproof?"
A Merkle multiproof is a more efficient Merkle proof, for when it is necessary to prove the presence of a multiple elements that are in the same Merkle tree. Details: https://github.com/ledgerwatch/erigon/blob/devel/docs/programmers_guide/guide.md#multiproofs

When trie start supporting multiproof?

[2022-09-12 09:47] jochem-brouwer commented on #2278
We support verifying them (`verifyRangeProof`). Creating proofs is a WIP, see #2243.

[2022-09-12 09:57] felicityin commented on #2278
Thanks! But I want t prove the presence of a multiple elements that do not constitute an interval. Maybe this will meet my needs better: https://github.com/ethereumjs/ethereumjs-monorepo/pull/2243/files#diff-31717aedba209c646988550ff9a91ee518d515d3693d568651dd28f7681c0683. But it has not been merged yet.

[2022-09-12 10:01] jochem-brouwer commented on #2278
I assumed your erigon page was a page about multiproofs for intervals, but apparently there is also a way to support multiproofs for non-intervals? I will have to read the docs about this to see if this is actually possible. But in that case, this is not being worked on yet.

For the time being, would it also work to just batch `createProof` and then use this to provide proofs for multiple element

[2022-09-12 10:08] felicityin commented on #2278
There is a way to support multiproofs for non-intervals in Sparse Merkle: https://arxiv.org/pdf/2002.07648.pdf. It is really useful.

[2022-09-12 10:14] jochem-brouwer commented on #2278
Very interesting, this sounds fun to implement!

[2022-09-12 10:15] felicityin commented on #2278
Yes, it is.

[2022-09-12 13:25] ernestosperanza commented on #2262
Is this issue open to work?

[2022-09-12 18:30] acolytec3 opened #2279 "Invalid PoS block error on `createGenesisBlock` with custom `Common` instance"
In testing #2088, I think we've uncovered a small edge case bug in [`createGenesisBlock`](https://github.com/ethereumjs/ethereumjs-monorepo/blob/295deaa07ee8a45d7813e9f07971073652fafcb0/packages/blockchain/src/blockchain.ts#L1234) when using a custom `common` instance where the hardfork is set `merge`.  If your genesis block parameters (given by `common.genesis()`) has a `difficulty` parameter wit

[2022-09-12 18:59] gabrocheleau commented on #2105
I guess this can be closed?

[2022-09-13 09:41] holgerd77 commented on #2105
No, this is a permanent issue to track tiny issues which are not worth to be dealt with on its own. Just add to the initial comment if you have something.

[2022-09-13 10:01] holgerd77 commented on #2279
Have also read the latest discussion and comments in the chat on this, so just to pick this up and conclude: so it seems correct to me that this throws. With this setup block 0 is already a Merge block and by spec a merge block just can't contain/add any additional difficulty.

So I would cautiously assume we can close this again, also reading from the thread in the chat? Or is this still an issue

[2022-09-13 10:30] acolytec3 commented on #2279
Honestly, it feels like a non issue now that I put that hack in the retesteth PR to resolve it.  That feels like a design quirk in retesteth more than any real logic issue.  I'm going to close here.

[2022-09-13 10:30] #2279 closed

[2022-09-13 17:39] gabrocheleau opened #2280 "Block: Clean up block RPC test data"
Some test data from the block package does not seem to conform with the standard RPC interface, for e.g. `"sealFields"`. which from a quick research seems to be a now unused parity-specific field ([src](https://pkg.go.dev/github.com/INFURA/go-ethlibs/eth)).

Since we don't make use of them, we could easily clean those up and remove the need for typecasting in some of the tests:
e.g. `blockDataDiff

[2022-09-14 10:46] ZLY201 opened #2283 "Migrate functional-red-black-tree to js-sdsl"
Hey! I'm the developer of Js-sdsl. Official website: https://js-sdsl.github.io/

Now, we published the version 4.1.4.

I see you are using functional-red-black-tree.

In [benchmark](https://js-sdsl.github.io/#/test/benchmark-result?id=rbtree), we have confirmed that Js-sdsl is several times faster than functional-red-black-tree.

I've submitted a PR to eslint and has been accepted.

See https://gi

[2022-09-14 12:49] acolytec3 commented on #2283
Thanks for the note. We're definitely open to a PR though will want to see the benchmarks using our own code before merging. Note, this dependency is also used in our ` statemanager` package.

[2022-09-14 12:52] ZLY201 commented on #2283
OK, I'll show you the benchmark result later.

[2022-09-14 15:34] ZLY201 commented on #2283
Benchmarks here:

- perf/migrate-rbtree

https://github.com/ZLY201/ethereumjs-monorepo/actions/runs/3054050866/jobs/4925454999

[code]

- master

https://github.com/ethereumjs/ethereumjs-monorepo/actions/runs/3049324777/jobs/4915279042

[code]

[2022-09-14 17:19] jochem-brouwer commented on #2262
Hi @ernestosperanza, we have an open PR from @rashidmya by this, so I would say this is not open at this point.

[2022-09-14 17:56] davidmurdoch opened #2286 "Ganache needs to support Kovan until October 5th. Can you help us add support back in?"

[2022-09-14 18:00] jochem-brouwer opened #2287 "Trie inconsistency of del/put"
If we put on a key where one of the nodes (i.e. the final one before we write a node) in the path is not available (i.e. get branch node key): do not care

If we delete a key where one of the nodes in the path is not available: throw

This is inconstent.

[2022-09-15 08:09] holgerd77 commented on #2286
Hi there, ah, yes, we removed Kovan here https://github.com/ethereumjs/ethereumjs-monorepo/issues/2286 since we decided it is time.

It should be relatively easy to re-integrate with the custom chain feature, so you can take the [Kovan JSON chain file](https://github.com/ethereumjs/ethereumjs-monorepo/pull/2206/files#diff-7b016833ada6c69c33108a52e49f033d1aaf9f08ee3b7018c613990afd9551b0) and initia

[2022-09-15 08:41] holgerd77 commented on #2283
@ZLY201 Hey there, thanks a lot for this PR, the benchmark results look really amazing 🎉, generally your whole data structure library makes a really good impression, congrats on that! 👍

[2022-09-15 08:58] holgerd77 commented on #2283
Closed by #2285

There will be a couple of weeks until a new release on this.

[2022-09-15 10:08] holgerd77 commented on #2280
Ah, yes, would be a fan. 🙂 👍

[2022-09-15 13:12] holgerd77 commented on #2287
Isn't this rather even close to a bug? 🤔

Is it somewhat recognizable on `put` that the operation then didn't work properly? Otherwise I would think this can be very much put in the bug-category and we should (I am not a trie expert, so feel free to comment/disagree) fix this by throwing for put as well (guess we can include this in a non-breaking release).

[2022-09-15 18:43] #2280 closed

[2022-09-16 08:50] jochem-brouwer commented on #2287
Well, if we start throwing on `put` as well, then this is breaking, right?

[2022-09-16 11:38] holgerd77 commented on #2287
Technically rather yes, though one could also put this in the bugfix-category (if my understanding is correct that in case of such a put operation you end up with a corrupt trie anyhow.

I would therefore be inclined to say: since this has somewhat the notion of a bugfix *and* we are super early with the breaking releases not being very much used/adopted yes, we can/could just take this in.

Also

[2022-09-17 14:03] thevaizman opened #2290 "EVM won't wait for 'step' event handler to finish before continuing execution"
Hey, was trying to bump our version of ethereumjs in our [evm.codes](https://www.evm.codes/) project.

I am using the latest (6.0.0) @ethereumjs/vm and the latest (1.0.0) @ethereumjs/evm packages.
When my handler to the `step` event is called with a function as the 2nd arg, the EVM won't wait until the function is called and will just keep executing till the end.

My event handler declaration:

[c

[2022-09-18 10:45] jochem-brouwer commented on #2290
You need to add a second argument to the event listener.

`vm.events.on('step', async (e: InterpreterStep, contFun: Function) => {await someFun(); contFun()})`

[2022-09-18 13:42] thevaizman commented on #2290
Thanks a lot for the quick answer @jochem-brouwer! For future reference of people who may be getting into the same problem and bump into this ticket, when using `Function`, it ended up asking me for a different type for the 2nd argument of the event handler, but it's now working after I used:

[code]

[2022-09-18 13:42] #2290 closed

[2022-09-19 10:42] holgerd77 commented on #2290
Is this sufficiently described in the code docs? Otherwise it would be good to add.

Will add as an eventual TODO to #2105

[2022-09-19 11:37] thevaizman opened #2295 "Build errors with newest ethereumjs/evm"
Hey @jochem-brouwer @holgerd77,

I encountered 2 build errors using the newest package of `@ethereumjs/evm` (1.0.0) that prevent me from deploying my `evm.codes` app to Vercel. While I am able to easily solve these errors locally (by changing the sources of the `evm` package, this is obviously not ideal and I would like to know what is the correct way to handle these errors so that I can deploy to

[2022-09-20 07:57] holgerd77 commented on #2286
Hi @davidmurdoch, did you test this respectively is this a solution you can go with?

Feedback would be appreciated!

[2022-09-20 07:57] #2283 closed

[2022-09-20 08:00] holgerd77 commented on #1914
Closed by #2270

[2022-09-20 08:00] #1914 closed

[2022-09-20 08:00] holgerd77 commented on #1717
Closed by #2270

[2022-09-20 08:00] #1717 closed

[2022-09-20 08:04] holgerd77 commented on #1687
I will close this for the feeling that this is too much work for not enough benefit, since disabling old EIPs which are already well-established has little use cases and for the newer EIPs we now have this in place for some time now.

Feel free to re-open if the need rearises.

[2022-09-20 08:04] #1687 closed

[2022-09-20 08:04] holgerd77 commented on #1672
Will close this after the feedback from @axic

[2022-09-20 08:04] #1672 closed

[2022-09-20 08:06] holgerd77 commented on #1937
Can this get an update and eventually be closed? (or replaced by a new issue laying out a single thing which has been left here if there is just one or two)

[2022-09-20 08:08] holgerd77 commented on #1923
Can't completely judge this issue, can this be closed?

//cc @jochem-brouwer

[2022-09-20 08:08] holgerd77 commented on #1923
(if so please do)

[2022-09-20 08:11] holgerd77 commented on #978
This should be mitigated by the removal of all default exports in the monorepo along with the breaking releases (VM v6 and others), see #2018, will close.

[2022-09-20 08:11] #978 closed

[2022-09-20 08:13] holgerd77 commented on #992
We will likely not continue this path in favor for other syncing methods like snap sync and @jochem-brouwer has recently closed his WIP-beam-sync-execution PR from #1171, will close here.

[2022-09-20 08:13] #992 closed

[2022-09-20 08:16] holgerd77 commented on #985
@g11tech do you mind having a look here if we still want to keep this issue (please otherwise close)?

[2022-09-20 09:19] jochem-brouwer commented on #1923
Yep this is indeed resolved, should have closed before.

[2022-09-20 09:19] #1923 closed

[2022-09-20 11:36] lalLAL95828 opened #2297 "The chain ID does not match the chain ID of Common"
[code]
Uncaught Error: The chain ID does not match the chain ID of Common (tx type=2 hash=not available (unsigned) nonce=13 value=100000000000000000 signed=false hf=error maxFeePerGas=undefined maxPriorityFeePerGas=undefined)
![image](https://user-images.githubusercontent.com/16337280/191247470-81dfe413-1260-4531-addb-47487854cdf2.png)
![image](https://user-images.githubusercontent.com/16337280/19

[2022-09-20 11:53] holgerd77 opened #2298 "Early Pre-Shanghai EthereumJS Ephemeral Testnet"
This morning after some exchange with @MariusVanDerWijden on [Twitter](https://twitter.com/vdWijden/status/1571896688041918465) we stumbled upon the idea of an early EthereumJS based Pre-Shanghai ephemeral testnet with selected EIPs activated.

To make it short: I really love the idea. 🔥 😎

We are pretty early on with various Shanghai CFI EIP implementations and this is exactly where we are with o

[2022-09-20 12:30] jochem-brouwer commented on #1937
This were mostly internal notes to me, I should not have opened an issue for this but just written it down on some paper.

[2022-09-20 12:30] #1937 closed

[2022-09-20 12:40] jochem-brouwer commented on #2297
What are your package versions?

Your tx is invalid; maxFeePerGas is less than maxPriorityFeePerGas. If I change this on our latest versions, the tx builds fine.

[2022-09-20 12:50] jochem-brouwer commented on #2297
I can reproduce when using our latest version

[2022-09-20 15:07] g11tech commented on #985
yes @holgerd77 most probably this is taken care of, will check and update

[2022-09-20 16:29] g11tech commented on #985
yes handled in while syncing forward (pre-merge)
 - https://github.com/ethereumjs/ethereumjs-monorepo/pull/2230

else beacon sync's skeleton handled here: https://github.com/ethereumjs/ethereumjs-monorepo/blob/master/packages/client/lib/sync/fetcher/reverseblockfetcher.ts#L61

Both cases lead to banning of peer and sync tries to sync from other peers

[2022-09-20 16:29] #985 closed

[2022-09-20 17:46] davidmurdoch commented on #2286
Thanks for the path forward and the follow up.

Ganache needs to keep supporting Node 12 until Truffle drops support for Node v12. A pre-requisite for Truffle dropping support for v12 is to fully support Node v18. and since EJS dropped Node 12 I've been doing the leg work to get Truffle updated to v18 so it can drop Node v12. Because we are getting so close to the October 5th Kovan support date an

[2022-09-20 17:46] #2286 closed

[2022-09-20 21:37] ScottyPoi commented on #2156
Does #2272 close this issue?

[2022-09-20 22:08] ScottyPoi commented on #2278
@jochem-brouwer
This is different than the `RangeProof` work you're doing, right?
If so I will start looking into it.

[2022-09-21 02:15] lalLAL95828 commented on #2297
This is a project built with create-react-app，@ethereumjs/tx is latest versions；

[2022-09-21 02:15] lalLAL95828 commented on #2297
I can't understand why I got a 3 !== 3n

[2022-09-21 02:21] lalLAL95828 commented on #2297
today， It's strange that I deleted node_module and package-lock.json, after npm i, everything is fine

[2022-09-21 02:21] #2297 closed

[2022-09-21 08:59] AhmadKajjan-QU opened #2301 "Stack underflow error while making a new commit using a copy object of state manager"
Hello everyone,

I got a stack underflow error when I was trying to make a commit on a copy of the state manager

I have this code which creates a copy of state in array with 3 state objects max
[code]

I have this code to revert back the state using a copied one

[code]

This code to run a new block
[code]

here I got an error if somewhere I used the revetStateManager function before using runBlo

[2022-09-21 12:15] jochem-brouwer commented on #2297
All right, great, thanks for the update and closing!

[2022-09-21 12:17] jochem-brouwer commented on #2278
Yes: my current PR (i.e https://github.com/ethereumjs/ethereumjs-monorepo/pull/2243) is about sequential proofs. This paper shows that it is also possible to prove for non-sequential proofs, so this is indeed diffferent.

[2022-09-21 12:33] jochem-brouwer commented on #2286
Thanks for the update @davidmurdoch :smile:

[2022-09-21 12:37] holgerd77 commented on #985
Thanks! 🙏

[2022-09-21 12:53] g11tech commented on #2298
Also if we are not concerned with "running" a multi-team testnet atleast before going live, we can just make do with a `genesis.json` and lodestar 's devnet setup which may not require much tooling

[2022-09-22 09:19] holgerd77 commented on #2298
Yes, definitely no need for a multi-team testnet on this round, so we should keep this simple whereever possible.

[2022-09-22 10:13] g11tech commented on #2298
Post some of my casual discussions with @parithosh I propose the following plan:

1. Test and setup a local 1 EL <> CL
   1. Setup the genesis.json for a post merge genesis block which has a minimal deposit contract
   2. Use that genesis.json to start a lodestar <> ethereumjs instance since lodestar has a utility to drive a post-merge EL
   3. Test EIPs using it
2. Test and setup a multi-peer set

[2022-09-22 14:12] acolytec3 commented on #2295
In looking at these, the first two look to be easily addressable.  Looks like the only difference would be that we would do
`import * as AsyncEventEmitter from 'async-eventemitter'` since we have `esModuleInterop:false` in our tsconfig.  I think that would solve your issues, right?

[2022-09-22 14:17] acolytec3 commented on #2295
@thevaizman Could you try building your app and point your EVM dependency to the head of #2303 and see if that resolves your issue?  Updating these import/exports doesn't seem to cause any issues for our internal builds but I don't have an ESM test setup to validate it will work for ESM based projects.

[2022-09-22 14:21] acolytec3 commented on #2275
Can we close this for now and re-address if it starts failing again?  It looks like some sort of fluke and the tests are all passing the past 2 weeks.

![image](https://user-images.githubusercontent.com/17355484/191772457-c2f62c8f-bc9c-4559-ae90-1e8a01388bfa.png)

[2022-09-22 15:33] thevaizman commented on #2295
Hey @acolytec3, thanks for responding to my issue! :)
Unfortunately, after installing from the branch you suggested, I am now getting another error when trying to build:

[code]

[2022-09-22 17:16] thevaizman commented on #2295
Now getting a new error:

[code]

[2022-09-22 19:14] acolytec3 commented on #2295
Hmm, interesting.  Can you link me to a repo where I can reproduce this?

[2022-09-22 21:02] thevaizman commented on #2295
@acolytec3 sure thing. You can have a look [here](https://github.com/comitylabs/evm.codes/tree/replace-difficulty-with-prevrandao). This is the branch of my app. You simply need to replace the `@ethereumjs/evm` dependency to the one linked me and you will be able to reproduce my error by building with `yarn build`

[2022-09-23 09:00] holgerd77 commented on #2275
Sure, please always do directly.

[2022-09-23 09:00] #2275 closed

[2022-09-23 09:34] holgerd77 opened #2304 "Monorepo: Curated Pool of unified Test Data"
We have so many - and also more and more - testdata floating around along the different packages that - coming from a PR discussion with @g11tech from [here](https://github.com/ethereumjs/ethereumjs-monorepo/pull/2300/files#r977513562) I am wondering if we should start a unified test data pool being shared across the libraries and which would help to reduce the need for copying things over all ove

[2022-09-23 11:28] thevaizman commented on #2295
@acolytec3 btw, I managed to get more context on the problem by running `yarn typecheck`:

[code]

It looks like it still wants the import to be `import AsyncEventEmitter from 'async-eventemitter'` instead of a namespace import.

[2022-09-23 15:15] acolytec3 commented on #2295
I'm honestly not sure how to proceed here.  If I do a import the default of `AsyncEventEmitter` in our code, it is undefined (since the `AsyncEventEmitter` typing uses the `export=` syntax instead of `export default`.  From reading [this](https://github.com/Microsoft/TypeScript-Handbook/blob/master/pages/Modules.md#export--and-import--require) it seems like the only real option for us is the `impo

[2022-09-23 17:19] thevaizman commented on #2295
@acolytec3  Yeah it seems like the only way to resolve this is actually doing `import AsyncEventEmitter from 'async-eventemitter'` butt this would require you to enable `esModuleInterop`.
Is this out of the question for your project? (genuinely asking as I'm new to all these CommonJS/ES6 shenanigans...)

[2022-09-23 17:47] acolytec3 commented on #2295
Unfortunately yes. We just went through the effort of removing that because of concerns we were impacting consumers of our code who might not want to use that setting. That said, we seem to have had the reverse impact on you. 😬 I can explore implementing some alternate typing for this module that resolves the issue, maybe switching it to have a named export. Will do some further research

[2022-09-23 17:52] davidmurdoch opened #2306 "Request for EthereumJS libraries to stop using ENV variables internally"
If a user sets the `DEBUG` environment variable when using CLI tools like `ganache` and `truffle` (even if they do `DEBUG=false` or `DEBUG=0`), EthereumJS libraries take that as a signal to do their own internal debug-related things. Our CLI users most certainly don't want that. And while this can generally be worked around by CLI users, it's inconvenient for users to do so, and it leaks internal

[2022-09-23 18:03] thevaizman commented on #2295
That’s completely understandable :)
Thanks for taking the time to help with this issue. Hoping to hear good news 🤞

[2022-09-24 15:30] thevaizman commented on #2295
@acolytec3 Just an update, I managed to actually get the thing to build by changing the `index.d.ts` file so that it contains a named export: `export { AsyncEventEmitter }` at the end of the file instead of the `export = AsyncEventEmitter;` they have now.
That way, I can import it from your module by changing `types.ts` and `evm.ts` imports to:
`import { AsyncEventEmitter } from 'async-eventemitte

[2022-09-24 15:34] acolytec3 commented on #2295
I've actually been trying to do that locally but was continuing to get weird errors.  So, will try and put some more thought into on Monday!

[2022-09-24 15:36] thevaizman commented on #2295
@acolytec3 Sure thing! lmk if I can help somehow and have a great weekend :)

[2022-09-24 19:35] AndonMitev opened #2307 "Not able to compile the app after install and import"
When i try to run my app i'm hitting this error:

<img width="698" alt="image" src="https://user-images.githubusercontent.com/32274987/192115532-7110beb7-b1fe-4b9d-9b8b-3c75cf9f67af.png">

Any idea how to solve it?

[2022-09-24 19:42] acolytec3 commented on #2307
The issue is most likely the `??` operator. You can try setting the targeted browsers in your package.json to something like [this](https://github.com/facebook/create-react-app/issues/9468#issuecomment-980702069) and this will likely solve it. Let me know if not and we can explore some other options.

[2022-09-25 19:19] ndrozd commented on #1882
My first attempt, would be happy to hear what i did wrong :)

[2022-09-25 22:03] giorgi-abashidze opened #2312 "Uncaught ReferenceError: Buffer is not defined"
hello, i'm getting error: Uncaught ReferenceError: Buffer is not defined at eip1559Transaction.ts:29.
app is react js single page app using webpack and it is failing.

<img width="434" alt="Screenshot 2022-09-26 015519" src="https://user-images.githubusercontent.com/52792051/192167561-de742683-0dbc-4b07-b091-a091561b7719.png">

<img width="455" alt="Screenshot 2022-09-26 015537" src="https://user-

[2022-09-25 22:07] acolytec3 commented on #2312
Are you using webpack 5? If so, you need to specify the `buffer` polyfill in your webpack config.

[2022-09-25 22:11] acolytec3 commented on #2312
You can use this config for inspiration. https://github.com/ethereumjs/ultralight/blob/master/packages/browser-client/webpack.config.js

[2022-09-25 22:11] giorgi-abashidze commented on #2312
so its a react thing? i'm not pro at react

[2022-09-25 22:13] acolytec3 commented on #2312
Are you using `create-react-app`?

[2022-09-25 22:16] giorgi-abashidze commented on #2312
yes

[2022-09-25 22:16] giorgi-abashidze commented on #2312
and there is no webpack.config.js

[2022-09-25 22:18] acolytec3 commented on #2312
Ah, okay. I haven't worked with CRA in a while. I'll have to spin up a new project and see what it needs. What command did you just to bootstrap your project? I'll see if I can recreate the issue and troubleshoot it. CRA might have changed since I last looked at it

[2022-09-25 22:22] giorgi-abashidze commented on #2312
npx create-react-app appname

[2022-09-25 22:25] acolytec3 commented on #2312
Cool, will take a look and see if I can find a fix for you

[2022-09-25 22:30] giorgi-abashidze commented on #2312
ok, error uccurs after you import "import { ethTx } from '@ethereumjs/tx'" and trying instantiate like: ethTx.fromTxData(transactionRequest);

[2022-09-26 08:01] holgerd77 commented on #1099
Still think it would be nice to improve on this 🙂, have expanded the issue to include block compatibility as well.

[2022-09-26 09:36] acolytec3 commented on #1099
We've got probably 90% of what is needed to convert blocks in our helpers in ultralight now and maybe 75% of what you need for transactions too. https://github.com/ethereumjs/ultralight/blob/master/packages/portalnetwork/src/util/helpers.ts

[2022-09-26 10:07] holgerd77 commented on #1099
Yeah, I would also think this should not be such a big deal and somewhat like 1-2 days work (at most).

There are rather a few strategic questions to settle in a first round:

1. Generic name functions `fromEthers()` or version-based ones `fromEthersV6()`?
2. Where to put Ethers as a dependency (either in Block/Tx or - also possible - in Util as a re-export) (though we moved a bit away from this w

[2022-09-26 10:09] holgerd77 commented on #1099
Ah, and generally: that's great to hear, then it would make even more sense to extract this functionality and make this generic and use the specific internalized functions.

[2022-09-26 10:31] holgerd77 commented on #2306
Yes, that totally makes sense, I guess we haven't thought about these side effects sufficiently.

Should have no dramatic side effects if we rename to `DEBUG_EM` (for: "EthereumJS Monorepo", alternative naming suggestions welcome from everyone, should just be both expressive and short to type, not so easy 😋).

This should have no side effects on our side I would say on first guess, since we only u

[2022-09-26 11:50] holgerd77 commented on #2307
@AndonMitev Any success? Can this be closed?

[2022-09-26 13:21] g11tech commented on #2298
repasting here from the discord channel to keep this updated:

able to run  a single ethereumjs<>lodestar instance locally for custom genesis
![image](https://user-images.githubusercontent.com/76567250/192287474-7cdc75c6-601c-4697-9bf2-2a8a4f9ffaaf.png)

Next step: will write a small shell script to bring things together and start PR

[2022-09-26 14:04] acolytec3 commented on #2312
[Here's](https://github.com/acolytec3/CRA_Ethjs_Starter) a minimally configured CRA bootstrapped react app that will at least work with the `@ethereumjs/tx` library.

Unfortunately `@ethereumjs` libraries will not work with `create-react-app` out of the box because we currently use `buffer` and other Nodejs modules that require polyfills to work in browser. CRA v5 uses webpack v5 which doesn't aut

[2022-09-26 14:15] acolytec3 commented on #2312
Also, if you do decide to use this starter template, lemme know how it goes.  There are possibly other polyfills I'm not thinking of (depending on which other libraries from our monorepo you use) so happy to take a quick look if something else breaks.

[2022-09-26 15:18] acolytec3 commented on #2295
I went back and reread your last comment and I was actually trying something slightly different so I tried your approach this morning but unfortunately I'm having the same sort of errors.  The code will all build but our tests fail with a ` async_eventemitter_1.AsyncEventEmitter is not a constructor` error so something is obviously going awry.  In your successful build with named exports, does the

[2022-09-26 15:52] thevaizman commented on #2295
@acolytec3 that's weird. I am able to both build as well as use all features of the app when applying my changes.

Just to be more clear, these are my changes:

- `node_modules/@types/async-eventemitter/index.d.ts`
  - Removed `line 20` and append to end of file the following - `export {AsyncEventEmitter}`
- `node_modules/@ethereumjs/evm/src/types.ts`
  - Replace your `import type ...` with - `imp

[2022-09-26 18:01] giorgi-abashidze commented on #2312
okay, thanks. I will give a try

[2022-09-26 18:51] acolytec3 commented on #2295
Okay, went back to a clean slate and tried exactly the changes you noted above and I'm still getting the `not a constructor` error.  I'm stumped.  :thinking:

[2022-09-26 18:56] acolytec3 commented on #2295
And I confirmed it's working fine when I look at your repo.  I cloned it and built locally, using `npm link` to link it to my local branch with these changes.  Seems like `ts-node` is doing something really screwy when I run our tests.

[2022-09-26 19:14] thevaizman commented on #2295
Hmm interesting, haven't tried running any of your tests on it, but I wouldn't be surprised if simply trying out different flags when running `ts-node` is going to solve it. I'll try to take a look at your project's configurations and see if I spot something that might break it.

[2022-09-26 23:55] thevaizman commented on #2295
@acolytec3
Ok after some investigation, I managed to track the problematic sequence that causes `ts-node` to freak out.
The reason for the `this.events = new async_eventemitter_1.AsyncEventEmitter();` error we see is because for some reason, when you compile the project, you get the following lines in the `/ethereumjs-monorepo/packages/evm/dist/evm.js:45` file:

[code]

Whereas after using `yarn b

[2022-09-27 01:33] acolytec3 commented on #2295
Interesting... That may be a tricky one. What's especially remarkable is that you're using the same compiled output that I am. We just have some weird double declaration or something somewhere to cause this.

[2022-09-27 13:37] thevaizman commented on #2295
@acolytec3 Yeah, at first I thought it has to do something with the fact that there are 2 components name `AsyncEventEmitter` declared in the `node_modules/@types/async-eventemitter/index.d.ts` file, one is the namespace and the other is the class.

My intuition here says that for some reason, my project seems to "understand" that and it only imports the class from the module, hence the construct-

[2022-09-28 01:37] acolytec3 commented on #2295
I definitely see the actual issue now, and I can see typescript intellisense seeing both the namespace and the named export but it's still not clear to me where typescript gets the idea to compile it to `async_emitter_1.AsyncEmitter`. I remember seeing something like this before somewhere in our repo so will keep digging. This is an odd bug to be sure.

[2022-09-28 06:13] ScottyPoi commented on #2306
Hi @davidmurdoch I'm looking into it.
Could you provide an example for me to replicate this?

[2022-09-28 12:44] holgerd77 commented on #2306
Just giving this some additional thoughts.

Maybe it is not the right approach to try to rename the DEBUG variable coming from the CLI (e.g. running something like `DEBUG=vm:tx ts-node test.ts`) - since this is very much hard-coded into the `debug` package we are using, but it might be the better approach to add an constructor option `debug` for all the packages we are using the debug package (so

[2022-09-28 14:37] thevaizman commented on #2295
@holgerd77 @acolytec3 Mine is `typescript 4.4.4`. I can see that your project has `4.7.4`.
It doesn't seem to make much difference as I upgraded mine to `4.7.4` using `yarn ad typescript@4.7.4` and I got the same compiled `node_modules/@ethereumjs/evm/dist/evm.js` file as before.

[2022-09-28 14:55] davidmurdoch commented on #2306
I don't think libraries should change behavior based on environment variables, and I think the decision to avoid the overhead of `debug` calls in cases where the `debug` package won't be used was a good call (for performance reasons). If the EJS team members, or other consumers of the libraries, need the debugging behavior I think the code that initializes these classes should be responsible for r

[2022-09-28 20:28] ScottyPoi commented on #2306
`debug` module has a `disable()` method, so i think it could be as simple as this:

[code]

it should effectively work the same as a conditional at each `debug()` call.  The `debug()` statements will be skipped unless `debug: true` is set in the constructor.

[2022-09-28 21:14] ScottyPoi commented on #2306
Or more explicitly:
[code]
This would override the process.env.DEBUG setting though.  If the class were instantiated with `debug=true`, you would not be able to silence it with `DEBUG=0` or `DEBUG=false`.

[2022-09-28 21:19] davidmurdoch commented on #2306
If you don't have the `if (this.debug) { debug( ... ); }` check, and instead just directly do `debug(...)`, relying on the previous call to `enable`/`disable` the `debug` statements won't be "skipped" -- they just won't cause the `debug` module to log. The problem with this is that we'll still incur the overhead of creating the strings passed to `debug`, which was the reason the `this.debug` check

[2022-09-28 21:36] ScottyPoi commented on #2306
Okay I can leave in the individual `if` statements in there.

Will do this as well.

One last question is whether to include something like:
[code]

Which would allow for the debugger to be silenced even if `debug: true` is set.

[2022-09-30 08:51] holgerd77 commented on #2295
👍 Ah, thanks for investigating!

[2022-09-30 14:10] jochem-brouwer commented on #2298
I think an item which needs to be added here: we need a faucet.

[2022-10-01 22:39] jere344 commented on #2307
I have the same issue when running `serve -s build` on linux, the same code run fine on windows.
I tried setting the targeted browsers but it did not fix it.
I also tried replacing the 5 `??` and some optional chaining with classic ternary operator and got this error :
[code]

[2022-10-01 22:48] acolytec3 commented on #2307
Can you drive some more details about your particular setup? Are you using a bundler like webpack?

[2022-10-01 23:31] jere344 commented on #2307
Oh my bad sorry it is absolutely not the good github project for this. I have the same error but it has nothing to do with ethereumjs. I came from https://github.com/facebook/create-react-app/issues/9468#issuecomment-980702069 that you linked and did not check which git we were on.

[2022-10-02 11:49] cryptobsc opened #2327 "Getting wrong getSenderAddress() when signing a transaction"
Hi guys,

I am trying to sign a transaction using _ethereumjs-tx_ library but I am getting a wrong sender address.

I cannot have access to the private key of the user in my dapp, it's why I used the R, S, V values of the signature.

Please check out my code as below.

`

const signRawTx = async () => {

    const dest = "0xc977790E98E944e40cC78DEC45C43F9442Ce4402";
    const nonce = await web3.et

[2022-10-02 15:31] holgerd77 commented on #2327
Hi, this is not possible, the r, s, v values are the signature for a signed transaction. To sign a transaction the private key is needed (for a reason).

[2022-10-02 18:14] cryptobsc commented on #2327
Sure, the sign is happening via Metamask with the user's private key but the signature doesn't seem to be valid actually.

[2022-10-03 15:23] acolytec3 commented on #2327
I'll take a look at this.  I think you might be approaching this the wrong way.  Will circle back a little later once I research.

[2022-10-03 17:46] acolytec3 commented on #2327
What exactly are you trying to accomplish here.  The approach I was thinking that might work (`web3.eth.signTransaction`) doesn't work with metamask since they don't support that RPC method.  Are you wanting to broadcast the message to your own RPC endpoint?  Otherwise, i would just leverage `web3.eth.sendTransaction` and let metamask sign and submit the transaction.  Then, you can get the tx hash

[2022-10-04 08:06] cryptobsc commented on #2327
Thank you, it works with `web3.eth.sendTransaction` actually!

[2022-10-04 08:06] #2327 closed

[2022-10-04 10:01] thevaizman commented on #2295
@holgerd77 @acolytec3 @jochem-brouwer Hey folks, would love to hear if y'all see any valid solution for this problem on your end.
The way I see it, our only option for using the newest version of your library is forking it (with the changes that break the tests) which we would really like to avoid for obvious reasons :/

[2022-10-04 11:01] holgerd77 commented on #2295
The [AsyncEventEmitter](https://github.com/ahultgren/async-eventemitter) library is MIT licenced, I guess we can just internalize and modify the code base on our side?

WDYGT? 🤔

(also has some side-security-benefits)

[2022-10-04 11:02] holgerd77 commented on #2295
(eventually we even add to the Util package, so that we can reuse in both VM and EVM)

[2022-10-04 11:29] thevaizman commented on #2295
Yeah, this is pretty much what @acolytec3 and I did ([these](https://github.com/ethereumjs/ethereumjs-monorepo/issues/2295#issuecomment-1258257724) are my suggested changes), but the problem is that after you do that it somehow breaks the current tests that you have (as you can see [here](https://github.com/ethereumjs/ethereumjs-monorepo/issues/2295#issuecomment-1258789380)).
I am able to build an

[2022-10-04 11:31] acolytec3 commented on #2295
I'm going to pick this up again today at some point. There just be something obvious that I'm just missing.

[2022-10-05 18:11] shresthagrawal opened #2330 "Support post EIP1559 tx types for RPC"
Current `eth_estimateGas` and `eth_call` do not support the post EIP1559 tx types

[2022-10-06 01:57] acolytec3 commented on #2295
Ugh, sorry the days have gotten away from me.  This is still on my to-do list so hoping to get to it tomorrow.

[2022-10-06 06:18] thevaizman commented on #2295
Thanks for keeping me updated! Appreciate it :)

[2022-10-06 14:52] wschwab opened #2332 "Account Abstraction support (EIP-3074): analyze Hardhat test failures"
Hello!

I was wondering if it's possible to ask for support for [EIP-3074](https://eips.ethereum.org/EIPS/eip-3074) (Account Abstraction) in the EthereumJS EVM. This would be very helpful for testing, seeing as Hardhat uses EthereumJS for their EVM, and a big part of 3074 is creating invoker contracts that leverage the opcodes introduced by the EIP.

Is there a way the 3074 opcodes could be added

[2022-10-06 15:01] acolytec3 commented on #2295
@thevaizman Will you try building your app with the latest commit on this PR?  I pulled the `async-eventemitter` into the source directory and removed the dependency on the DefinitelyTyped version and your app seems to build locally for me in doing so.

[2022-10-07 00:44] acolytec3 commented on #2295
I've spent another few hours puzzling over this and have made zero progress.  When I take the types for `async-eventemitter` internal and do named exports, I still have this same bizarre issue where it compiles to `async_eventemitter_1.AsyncEventEmitter()` which doesn't exist.  So...will take one more stab at it tomorrow.

[2022-10-07 00:59] thevaizman commented on #2295
@acolytec3 Yeah I tried messing around with the typing too, and tried a few variations for the types in the `index.d.ts` file but no matter what I tried, when building with your project it yielded the same result  :/

Thanks so much for the effort! Hope to hear good news tomorrow :)

[2022-10-07 14:44] VladChernenko opened #2334 "How to keep progress?"
Hi👋

Just a quick question, because I haven't seen examples in repo or in previous issues(or I was unattentive). Saying, we have an example like here:

https://github.com/ethereumjs/ethereumjs-monorepo/blob/master/packages/vm/examples/run-solidity-contract.ts

It's a good example to get started, but I can't understand how to save this progress of VM. Here, the code done execution and on the high l

[2022-10-07 15:37] #2334 closed, assigned to nobody

[2022-10-07 19:07] acolytec3 commented on #2312
Just checking in.  Did this resolve your issue?

[2022-10-07 19:33] acolytec3 commented on #2295
I confess myself stumped at this point.  According to [this](https://www.typescriptlang.org/docs/handbook/declaration-files/templates/module-d-ts.html#namespaces-in-module-code) the sort of thing we've done should just work but for the life of me I can't get it to not add that fake constructor to the declaration.  I've googled around as far as I can and I really just have no idea how to solve this

[2022-10-07 19:38] acolytec3 commented on #2295
@holgerd77 any thoughts here?  There is a more modern async event emitter we could look at though I'm not sure how different it's API is from the standard one - https://github.com/sindresorhus/emittery.  No deps to speak of so could maybe be an option?

[2022-10-07 20:07] thevaizman commented on #2295
@acolytec3 `emittery` seems to be a well maintained repo. Regardless of this issue, it seems like a healthy choice to switch from this "dead" library to something more modern and maintained, although I understand the cost of migrating to a new library.

Also, not sure if you already saw it, but there's [this](https://github.com/humanwhocodes/async-event-emitter) library which is by far less popula

[2022-10-07 20:39] acolytec3 commented on #2295
I think the issue with this one is it has no types (and doesn't look like any in DefinitelyTyped either) so not really any better of a solution than our existing one since we'd have to maintain the typing ourselves.  We will have to take this one back and think on it a bit.  Sorry I don't have a better answer for you at this point but I doubt we're going to have it all solved in the next day or tw

[2022-10-07 21:39] thevaizman commented on #2295
Yep, makes sense to not maintain the typing yourselves, I agree.
Thanks for the suggestion. I mean, we could also fork your repo and use our own fork for now, which is something we wanted to avoid, but if you're planning on implementing that change soon enough (not asking for a concrete ETA, just wondering if it's in the ballpark of ~1 week) it might be best to just wait for your implementation.

[2022-10-07 23:01] acolytec3 commented on #2295
I'll take a look at the needed code changes. If it's a breaking change because the events API changes, it might be a bit trickier. Will keep you posted

[2022-10-09 08:32] wschwab commented on #2332
That's great to hear! I'm 404-ing on that link, though.

[2022-10-09 10:18] acolytec3 commented on #2332
Sorry, we just did some directory renaming. Try [this](https://github.com/ethereumjs/ethereumjs-monorepo/blob/master/packages/vm/test/api/EIPs/eip-3074-authcall.spec.ts)

[2022-10-09 20:32] ScottyPoi commented on #2304
@holgerd77

I could pivot from the `evm-vm-tests`   #2341 and broaden to a general `shared-test` package if you'd like.

[2022-10-10 01:38] scorbajio opened #2343 "Support using hashed account and storage tries"
Currently, in order to put an account into the state manager, it has to be done so using the `putAccount` function, which requires an account address. During snap sync, account addresses are not known, only their hash. In order to store state from snap sync in state manager, it is necessary to add this functionality.

Also see #2345.

[2022-10-10 08:00] jochem-brouwer commented on #2343
The same would also apply for storages. Can we not directly dump these into an unhashed trie into snap sync, or do we really need to use StateManager?

[2022-10-10 09:12] Hugo-Vincent opened #2346 "Documentation: Bellatrix and Paris Hardforks"
In packages/common/src/hardforks, all the names up until Gray Glacier are the official names. However I can't find the Bellatrix and Paris upgrades. I'm gonna guess Bellatrix is "MergeForkIdTransition" and Paris is "Merge", but I would just like to confirm this assumption is true.
I wasn't able to find this in the Documentation, so if other people ever have the same question they can confirm it in

[2022-10-10 11:08] jochem-brouwer commented on #2346
Bellatrix is a consensus layer fork, which changes nothing at the execution layer (i.e. this monorepo). However, you are right that " Merge"  is Paris.

Not sure what to do here, should we create an alias for the Merge called Paris? Thoughts?

[2022-10-10 11:46] jochem-brouwer opened #2347 "Trie pruning does not work with variable-length keys"
To reproduce, change this into `prune.spec.ts`:
[code]

Either the prune verifier throws, or we get a stack underflow error when putting key/values.

[2022-10-10 13:39] Hugo-Vincent commented on #2346
Hmm if this were my repo I would probably just place a comment "// Also known as Paris" at the Hardforks Enum: https://github.com/ethereumjs/ethereumjs-monorepo/blob/f5821adda073be023c336a41954fe41e864732b2/packages/common/src/enums.ts#L25

Then if people search for Paris and can't find it, and check the Hardforks enum, they'll know.

[2022-10-10 14:25] scorbajio commented on #2343
@jochem-brouwer it is possible to put the data directly into tries, but it seems like we would be recreating a significant amount of StateManager functionality. It may be advantageous for code reuse to use a modified StateManager.

[2022-10-11 04:17] giorgi-abashidze commented on #2312
@acolytec3 I can't manage using polyfills in create react app... I will close this issue because i'm not actively trying to find the right way.
Unfortunately I don't have a time for it.

[2022-10-11 04:17] #2312 closed

[2022-10-11 09:29] acolytec3 commented on #2312
Understood. Let me know if you have more questions down the line.

[2022-10-11 12:55] #1882 closed

[2022-10-11 13:55] acolytec3 commented on #2307
Going to close this for now due to inactivity.  If it continues to be an issue, please feel free to reopen and update with more details.

[2022-10-11 13:55] #2307 closed

[2022-10-11 14:44] acolytec3 commented on #2295
Just for giggles, I tried swapping out `async-eventemitter` for `emittery` since a cursory review of our code showed minimal use of the API (just `emit` and `on`) and I immediately found that `emittery` is an ESM module with no CJS build.  So...that puts us in an interesting bind since we only build CommonJS and can't use top level await (or import ESM modules without using a dynamic import which

[2022-10-11 14:56] jochem-brouwer commented on #2347
This is most likely caused by the fact that BranchNodes and ExtensionNodes now can have values (as opposed to hashed tries). This could be an entry-point to figure out what is going wrong in the pruning.

[2022-10-11 15:00] thevaizman commented on #2295
Got it. That _does_  seem to put us in quite a pickle... We will maybe try get some people we work with working on a proper solution for that.
If so, we will update of course :)

Thanks for checking the libraries!

[2022-10-11 15:34] acolytec3 commented on #2295
I wish I had a better answer on this but full conversion to ESM isn't on our immediate roadmap so that's not an immediate opportunity either.

I think the best I can recommend at this point would be that simple hotfix approach where you just override the particular bits of the `async-eventemitter` type that are breaking in `node_modules`.  It's a tad brittle but as we've both noted, the `async-eve

[2022-10-12 10:45] rodrigoherrerai opened #2348 "Error while trying to sync mainnet"
After a couple of tries trying to start a mainnet client, I get the following error:

[10-12|12:43:18] WARN Execution of block number=46402 hash=0x249e…858d hardfork=chainstart failed:
Error: invalid receiptTrie (vm hf=chainstart -> block number=46402

hash=0x249ea54eada07708b29d7c424b8466dec9f1d98067b0be1b89c7ee660cca858d hf=chainstart baseFeePerGas=none txs=1 uncles=0)

[10-12|12:43:25] INFO Fin

[2022-10-12 10:58] #2348 closed

[2022-10-12 12:06] holgerd77 commented on #2348
Hi there, could you drop a note what made you close this? Did you solve the issue? Have you been on an old version?

That would be helpful for future reference! 🙏

[2022-10-12 12:29] jochem-brouwer commented on #2348
Cannot reproduce;

[code]

[2022-10-12 12:46] rodrigoherrerai commented on #2348
Hello !

The issue was solved by using the latest version.

Prior to that, I was using a beta release from about 1 month ago or so, that is why I closed the issue.

Thanks !

[2022-10-13 10:24] holgerd77 commented on #2343
@jochem-brouwer @scorbajio is it eventually possible to combine both and initialize a StateManager "as is" with an unhashed trie? 🤔 Just to throw another option in the ring.

[2022-10-13 10:36] holgerd77 commented on #2346
Yes, I would agree, I guess a simple comment should do it in this case, everything else seems overblown respectively something like an alias makes things unnecessarily non-deterministic and will bite us in the future.

[2022-10-13 11:02] holgerd77 opened #2356 "StateManager: add practical Examples to README"
The `StateManager` [README](https://github.com/ethereumjs/ethereumjs-monorepo/discussions/2338) is still a bit barebone and lacks somewhat of a description of the core concepts like checkpointing, maybe some short intro to StateManager customization, also 1-2 additional practical examples.

It would therefore be nice if this gets a bit more love at some point. ❤️ 🙂

This discussion https://github.

[2022-10-13 11:28] holgerd77 commented on #2304
See my comment on #2341, once we have the structure there settled you can pick this up and add upon if you like.

[2022-10-13 11:29] holgerd77 commented on #2347
How would you judge the importance of this issue? 🤔 Was this triggered along a discussion with @faustbrian ?

[2022-10-13 11:37] holgerd77 commented on #2348
Ok, great and glad that you solved, thanks for the update! 👍

[2022-10-13 11:50] holgerd77 commented on #2347
Ah ok, thanks! And did you (Jochem and you) made some way solving this issue, e.g. in the chat? If so, can you copy some first solution suggestions or the like over? That would be helpful here.

[2022-10-13 13:23] jochem-brouwer commented on #2347
Hi @holgerd77, we have only discussed how to reproduce it (see the code posted) and I also noted that it is likely due to ExtensionNodes/BranchNodes now having values (which is also in the issue) - so all information is here :)

[2022-10-13 14:41] holgerd77 commented on #2295
Just further exploring the options here, @acolytec3 would it be an option to for now switch to an older version of the `emittery` package, so that would be [v0.13.1](https://github.com/sindresorhus/emittery/releases/tag/v0.13.1) I guess? 🤔

The `v1.0` version is pretty new anyhow - just released one month ago - so we would be switching to a version which can still be considered a "recent" version.

[2022-10-13 15:20] jochem-brouwer commented on #2343
Hmm that would most likely fix the problem in an elegant way. Thoughts @scorbajio ?

[2022-10-13 16:01] acolytec3 commented on #2295
I'll take a look at the older version. Thankfully there are only a very few places where I have to touch things to switch since the API is the same as the standard event emitter

[2022-10-13 17:30] acolytec3 commented on #2295
Unfortunately, the older version of Emittery commits the same sin as the `async-eventemitter` types in that it uses `export = Emittery` which is an older Typescript specific export style that seems to be incompatible with ESM modules (unless you have `esModuleInterop` turned on, which we don't).

Unless someone has another idea, I think the only solution we're going to have is to completely intern

[2022-10-13 21:21] acolytec3 commented on #2295
@thevaizman Can you try building against the latest commit on the linked branch here?  I found another library called [`eventemitter2`](https://www.npmjs.com/package/eventemitter2) that adds async capabilities and doesn't seem to use the naught `export = asynceventemitter` syntax and it appears to allow all of our tests to pass (and has nice typing to boot).

[2022-10-13 21:45] thevaizman commented on #2295
@acolytec3 interesting, now the type checking passes without any problems, but I get the following error:

[code]

Any ideas? 🤔
I built it using `yarn link` to link all `@ethereumjs` packages to the latest build of the `evm-import-fix` branch.

[2022-10-13 22:27] thevaizman commented on #2295
Oh my bad, it appears a if `yarn link` doesn't work well with loaders such as `babel` so I had to `yarn pkg` all of your packages and reference them locally in my `package.json`.
But the bottom line is - it worked! :)

App builds successfully and I also ran a short test run to see that everything works fine.
That's really awesome! Thanks for your determination @acolytec3!

[2022-10-14 00:52] acolytec3 commented on #2295
Cool. I'll take this back to the team for a final round of review and hopefully we can include this in an upcoming bug fix release in the next week or two.

[2022-10-14 09:19] holgerd77 opened #2357 "Client: Discovery Improvements"
When working on the Shandong testnet in #2316 we realized that discovery of the client still needs improvements respectively it would be desired to have this more robust and some communication flows checked and improved.

Here is a list of potential TODOs written down along the analysis:

**1. First round bootnode grap-up**

As far as I have observed EthereumJS first-round connection behavior, I t

[2022-10-14 17:25] acolytec3 commented on #2330
I halfway fixed this out of necessity in #2316 but will need to be cleanly implemented in a separate PR.  A minimal implementation will update [this line](https://github.com/ethereumjs/ethereumjs-monorepo/blob/5942f0867b296bb98f0ccbcdb89afe4a9ce8bf38/packages/client/lib/rpc/modules/eth.ts#L474) to use `TransactionFactory` and also possibly update the `RpcTx` type to include maxFeePerGas and `maxPr

[2022-10-14 17:28] acolytec3 opened #2359 "Implement `eth_feeHistory` RPC method"
We should implement the `eth_feeHistory` RPC method so that our client will be fully compatible with the testnet faucets which use `feeHistory` to construct their transactions.  The [Alchemy documentation is up to date](https://docs.alchemy.com/reference/eth-feehistory) so don't rely on the Ethereum.org RPC spec as it doesn't include the `GasUsedRatio` property in the response.

A stub implementat

[2022-10-15 02:13] scorbajio commented on #2343
@holgerd77 What do you mean by "combine both"? Do you mean support both hashed and unhashed trie puts for StateManager?

[2022-10-15 02:13] scorbajio commented on #2343
@holgerd77 What do you mean by "combine both"? Do you mean support both hashed and unhashed trie puts for StateManager?

[2022-10-15 19:12] g11tech commented on #2330
@acolytec3 should the eth_call directly do runTx than calling the vm's runCall?

[2022-10-16 01:49] acolytec3 commented on #2330
I'm pretty sure it should still be `evm.runCall`.  @jochem-brouwer any thoughts here?  I can test it out but conceptually switching the logic of this handler to use `TransactionFactory.fromTxData` and then calling `runTx` would accomplish the same net effect, right?  And that would be easier than rebuilding similar logic to handle the different transaction types that get passed in here.

[2022-10-16 01:51] acolytec3 commented on #2330
Maybe I can take a stab at this in the Shandong branch and see how it goes.  It certainly limits the usability of our RPC if `eth_call` only supports legacy txns.

[2022-10-16 10:33] thevaizman opened #2360 "We should use the codename Paris instead of Merge"
The spec name given to the transition to PoS is `Paris`. See [here](https://github.com/ethereum/execution-specs/blob/master/network-upgrades/mainnet-upgrades/paris.md).
In order to be consistent with the naming we use for hardforks, I believe we should change references to the `Merge` with `Paris`.
i.e the file `packages/common/src/hardforks/merge.json` should be renamed to `paris.json`.

[2022-10-16 17:32] jochem-brouwer commented on #2330
Yes that should work!

[2022-10-16 17:41] acolytec3 commented on #2330
Cool. I'll add it to my proofs of concept in shandong and we can pull out in separate PRs against master of everything goes well

[2022-10-17 09:26] holgerd77 commented on #2360
Hi there, totally right: mis-named, we had someone raising this already couple of days ago (can't find the reference right now).

So: we can't just rename this for compatility reasons. Before we can add something like an alias we would need to do a short analysis what this would imply and if things stay consistent. Then we can eventually add and deprecate the old naming.

[2022-10-17 09:45] holgerd77 commented on #2343
I meant: combine both ideas 🙂, so using the Trie library in an unhashed fashion (idea 1) and then put this in the StateManager (idea 2).

That was not a super-thought-through works-for-sure suggestion though, so I am neither sure if this has caveats or works at all. I just threw this in the ring as an additional eventual option, feel free to discard immediately if not fitting. 😋

[2022-10-17 10:23] #2295 closed

[2022-10-17 10:50] thevaizman commented on #2360
Sounds good! Thanks for updating :)

[2022-10-17 14:39] acolytec3 opened #2362 "To-do list from Shandong test net"
This is a tracker issue for items we've uncovered during the course of the Shandong test net:

### JSON-RPC items
- [x] Fix remaining `eth_estimateGas` bugs - reference 8791e70f07906d082fb8e9bc8853668f41526d30 for proposed fixes - #2411
  - [x] Update `RpcTx` interface to include EIP1559 gas fiels
  - [x] Decide if we should provide default values if no gas related fields are included (e.g. `gasPr

[2022-10-17 14:57] jochem-brouwer commented on #2360
Ref which @holgerd77 meant: #2346

[2022-10-17 15:05] thevaizman opened #2363 "Expose getActiveOpcodes to the VM object"
Before v6, which separated the `vm` and `evm` packages, one could instantiate a `vm` object and use: `vm.getActiveOpcodes` ot get the list of available opcodes.
Now that these 2 packages had been separated, the `getActiveOpcodes` function is no longer available in the context of a `vm` object, but only if you instantiate a separate `evm` object and access it via that object.

This creates an awkwa

[2022-10-17 15:17] thevaizman commented on #2363
Thanks for bringing this to my attention I didn't know the casting trick would work.
Having said that, I do feel that adding this function to the interface would be the more natural way to go with.

[2022-10-18 07:22] holgerd77 commented on #2362
Short note on the `RpcTx` interface from client: we should delete this altogether and instead use the [JsonRpcTx](https://github.com/ethereumjs/ethereumjs-monorepo/blob/master/packages/tx/src/types.ts#L270) interface from the tx library and make this the "official" item to use (or am I missing something around the use case here since `RpcTx` is so strangely underspecified? 🤔).

Along we should als

[2022-10-18 07:57] holgerd77 commented on #2363
We've added directly in the release PR here https://github.com/ethereumjs/ethereumjs-monorepo/commit/ac16d71783dcc0a582245384c05433a40c3f654c, will close.

Tested manually by building the EVM and then running:

[code]

Works as expected.

[2022-10-18 07:57] #2363 closed

[2022-10-18 10:44] jochem-brouwer opened #2366 "EventEmitter2 changes how async events work"
In old `async-eventemitter`:

`.on('step', (e) => {})` -> immediately resolves
`.on('step', (e, fn) => {setInterval(fn,1000)}` -> hangs interpreter for 1 s
`.on('step', async (e, fn) => {setInterval(fn,1000)}` -> hangs interpreter for 1 s
`.on('step', (e, fn) => {}` -> quits js (?) (I guess this is because node detects that there are only hanging promises left, and nothing is ran, so it deadlocks

[2022-10-18 11:26] frabbicse opened #2369 "can not sign private key"
when try to sign private key :
 **const common = new Common({ chain: this.chain });
const tx = Tx.fromTxData(rawTx, { common });
 const privateKey = Buffer.from(this.METAMASK_PRIVATE_KEY, 'hex');
const signedTx = tx.sign(privateKey);**

after doing this, I got this error:

[code]

[2022-10-18 18:04] acolytec3 commented on #2366
For an asynchronous event like this:
[code]

This works, (outputing the PC and then hanging the interpreter for 5 seconds).  Is there anything wrong with this as the way the async events should be used?

For a synchronous event -
[code]

This works just fine.  I see each PC printed to the screen and then the result of the EVM call.

[2022-10-19 00:01] scorbajio commented on #2343
@holgerd77 If I understand correctly, you are saying initialize the `StateManager` with `useKeyHashing` set to `false`, which means that if an address is passed in, it will have to be hashed before putting it, and if an already hashed key is passed in, it can just be put immediately, since it's not necessary to rehash it. Please correct me if I have misunderstood you.

The above seems like the bes

[2022-10-19 03:21] frabbicse commented on #2369
here is the code --
{"version":3,"file":"legacyTransaction.js","sourceRoot":"","sources":["../src/legacyTransaction.ts"],"names":[],"mappings":";;;AAAA,yCAAqC;AACrC,2CAWyB;AACzB,yDAAwD;AAExD,uDAAmD;AACnD,mCAAoC;AACpC,iCAA6C;AAK7C,MAAM,gBAAgB,GAAG,CAAC,CAAA;AAE1B,SAAS,WAAW,CAAC,EAAU,EAAE,OAAe;IAC9C,MAAM,CAAC,GAAG,MAAM,CAAC,EAAE,CAAC,CAAA;IACpB,MAAM,cAAc,GAAG,MAAM,CAAC,OAAO,CAAC,GAAG,CAAC,CAAA;IAC1C

[2022-10-19 09:17] acolytec3 commented on #2369
Hmm, is that the contents of your script? Can you paste the complete script (leaving out the private key)?

[2022-10-19 10:33] faustbrian opened #2370 "Trie integrity verification is leaking database implementation details and forces sync"
https://github.com/ethereumjs/ethereumjs-monorepo/blob/master/packages/trie/src/trie/trie.ts#L803 is leaking implementation details by assuming that the underlying database of every `DB` implementation is exposed as a public variable `_database` and that the `keys` function is synchronous.

The fix is fairly straightforward. Do `for (const dbkey of await this._db.db.keys())` instead of accessing t

[2022-10-19 15:18] acolytec3 commented on #2362
I think you're right about `RpcTx`.  Not sure what's going on there but will update it in my next commits for Shandong.  Going to try and get `eth_call` working correctly.

[2022-10-19 16:13] thevaizman opened #2373 "Wrong util package in dependencies"
The `package.json` file of the `blockchain` package still has the `util` version as `8.0.0` which doesn't have the `Lock` class in it instead of the new `util` version - `8.0.1`.
I can see that you merged a fix to `master` - [here](https://github.com/ethereumjs/ethereumjs-monorepo/commit/1823287bca416cf617f1f0040d883f0d8252b5fa).

Any idea when will this fix be pushed to `yarnpkg`? I can still see

[2022-10-19 17:33] shahradelahi opened #2374 "Error: Expected Uint8Array [Object of Buffer Given!!!]"
Error message and stack
[code]

Source Code:
[code]

Versions:
[code]

[2022-10-19 18:01] thevaizman commented on #2373
@holgerd77 I'd expect that too. But for some reason, when I perform a fresh `yarn install`, under `/node_modules/@ethereumjs/blockchain/node_modules/@ethereumjs/util/package.json` I can see that the version installed as a dependency for `blockchain` is still `8.0.0`.

Wondering if this is some weird local bug on my end...

[2022-10-19 18:41] rodrigoherrerai commented on #1114
Hello ! I would love to work on this, is the list updated ?

[2022-10-19 19:32] thevaizman commented on #2373
btw, managed to fix that issue only by stating the following in my `package.json`:

[code]

[2022-10-19 19:36] holgerd77 commented on #2373
Hmm, we also have problems with this async event emitter fix solution we choose https://github.com/ethereumjs/ethereumjs-monorepo/pull/2303#issuecomment-1284377395, not yet clear how to proceed there.

Eventually we just need to do another round of adopting releases anyhow.

Hmm. Bit annoying.

[2022-10-19 19:39] thevaizman commented on #2373
Yeah, I can relate to these issues you mentioned.
I am trying to use the exact same mechanism to cause the interpreter to hang until my callback function is invoked, but it doesn't seem to be available in the new library :/

Thanks for updating.

[2022-10-19 19:41] acolytec3 commented on #1114
Thanks for your interest.  It certainly looks to be up to date.  If you wanted to take some low hanging fruit, there are several RPC methods that I've done first draft implementations that are outlined in #2362 for our Shandong testnet that are probably good candidates to pull into `master` since the Shandong branch won't be merged in its current form.

[2022-10-19 19:46] holgerd77 commented on #1114
Yeah, can second this, that's great to hear! 👍

Alternatively you can also just suggest 1-3 methods you would want to implement and then we can see if there are some caveats you are eventually not yet aware of (e.g. some internal implementation details or limitations) and give you some first-round guidance if needed.

[2022-10-19 19:55] acolytec3 commented on #2374
Are you trying to run this in browser?  I set up a local nodejs repo using jest and was able to run this script and it passed just fine.

[2022-10-19 20:41] rodrigoherrerai commented on #1114
Thanks!

I was thinking of implementing 'eth_gasPrice' but as I can see @acolytec3 already has it done ?

Another option could be to start with 'eth_getBlockTransactionCountByNumber'.

[2022-10-19 20:45] acolytec3 commented on #1114
I don't think my implementation is "done".  I just hacked something together so our client would support `eth_gasPrice` on the Shandong test net (since Metamask doesn't work at all otherwise).  So, if you want to take what I did as purely a proof of concept and make it more robust, that would be a big win.  But your other one sounds great too!

[2022-10-19 21:17] rodrigoherrerai commented on #1114
Great !

[2022-10-20 00:14] scorbajio commented on #2343
Looking at the code, it seems like we can just wrap all addresses with a function that returns the hash if it is an address or just the hash itself if it is already a hash, and change `useKeyHashing` to true. I'd be happy to work on this ticket if there are no immediate takers.

[2022-10-20 03:54] frabbicse commented on #2369
I am using this version --- `https://www.npmjs.com/package/@ethereumjs/tx`

[2022-10-20 04:08] frabbicse commented on #2369
Here is the code of line 242
[code]

[2022-10-20 06:59] holgerd77 commented on #2369
This is not really helpful, we need explicit version *numbers*  for an analysis.

From the error message and the line above you posted I assume this can indeed be a version mix problem. My assumption is that you use a newer tx library version with an older common version and the tx library is already working with BigInt while the Common library is providing the chain id with `chainId()` as a numbe

[2022-10-20 07:13] shahradelahi commented on #2374
No, I didn't run it on browser, and also I just created a repo, so you can check it
https://github.com/shahradelahi/ethereumjs-issue-2374

[2022-10-20 08:04] holgerd77 opened #2375 "Shandong Management Meta Issue"
Work State: #2316
TODOs: #2362

Will use this issue for some Shandong [testnet](https://shandong.ethdevops.io/) related management write-up until I find some better place.

Backup Landing Page - Custom Text (2022-10-26, 5pm CET):

---

## Updates

2022-11-05 Testnet restart at `2022-11-05T10:54:46Z`, new `chainId` 1337903
2022-11-02 EIP-3860 consensus bug in block 6101, fix in the [works](https://

[2022-10-20 09:07] frabbicse commented on #2369
Issue solved.

`it is installed version - 4.0.1;`

[2022-10-20 09:07] #2369 closed

[2022-10-20 13:04] parithosh commented on #2357
Afaik, on testnets we provide the bootnode and the nodes use the bootnode to discover other peers. We do not use DNS discovery afaik, I'm not sure how easy/hard it is to setup either - we haven't had any peering issues that required it in the past.

[2022-10-20 23:33] #2366 closed

[2022-10-22 00:24] acolytec3 commented on #2374
I think the issue here is that you are indeed using a browser based app setup.  Your repo setup is using jest with `js-dom` which is a browser emulator framework for running tests.  If you refer to this repo - https://github.com/acolytec3/jest-ethjs and run the script with just `jest` running in NodeJS, the script passes.  The issue is that we use `buffer` internally throughout our code and requir

[2022-10-22 05:57] shahradelahi commented on #2374
Thanks for your help, It works now, I just removed the `testEnvironment: 'jsdom'` from jest config, and it works fine.
Honestly, I don't need this `jsdom` for my tests, I just used the official Next.js example for integration jest with Next.js.
I think that's better to add this to the documentation, because I think it's not clear for everyone.
Anyway, thanks for your help.

[2022-10-24 15:05] acolytec3 commented on #2374
Thanks!  Will close this for now.  We have a bigger to-do on our roadmap to provide more guidance for working with our libraries in browser.  Feel free to reopen if new things emerge.

[2022-10-24 15:05] #2374 closed

[2022-10-24 15:05] acolytec3 commented on #2373
@thevaizman Is this resolved with the latest release?  Just want to confirm if we have more yet to do or can close this.

[2022-10-24 15:15] acolytec3 commented on #2301
Apologies for not responding to this sooner.  Can you provide a stack trace showing where this error occurs?  There's not enough detail here for us to answer confidently.  That said, the `stack underflow` error occurs [when you try to update a node](https://github.com/ethereumjs/ethereumjs-monorepo/blob/e6c2f6c1e96c431b3fa0f29ba899f05ef9f2a728/packages/trie/src/trie/trie.ts#L377) that doesn't exis

[2022-10-24 15:32] acolytec3 commented on #2298
Can we close this now that we have the meta issue #2375 and the PR branch?

[2022-10-24 15:44] thevaizman commented on #2373
So it is not yet resolved "automatically" as I still have to add this to my `package.json`:

[code]

[2022-10-24 15:44] holgerd77 commented on #2298
No strong opinion, yeah, but why not. Everyone feel free to reopen though if the need arises.

[2022-10-25 09:52] AhmadKajjan-QU commented on #2301
Thanks for responding  I think what happened as you said there were some nodes missing.
I solve it by creating a new copy of the state making the changes to it and then replacing it with the global state.
I think there was more than on place updating the state that's why this issue happened.

[2022-10-25 09:52] #2301 closed

[2022-10-25 12:46] holgerd77 commented on #2373
I've now also released a new Blockchain version along an EVM fix release in #2380, so this should now be mitigated, will close.

[2022-10-25 12:46] #2373 closed

[2022-10-25 12:47] holgerd77 commented on #2373
( @thevaizman eventually it would still be re-assuring if you could give a short confirmation if easily possible )

[2022-10-25 13:21] thevaizman commented on #2373
hey @holgerd77, I can confirm this new release fixed the issue.
I can now safely remove the added `resolutions` part from my `package.json` and the app will build and run.

thanks! :)

[2022-10-26 22:17] strykerin opened #2386 "example `peer-communication.ts` is not running"
when running this example (`ts-node peer-communication.ts`), the following error is returned

[code]

[2022-10-26 22:19] #2386 closed

[2022-10-27 02:05] scorbajio opened #2389 "Modify Synchronizer class to support multi-fetcher syncs"
Currently, in order to run a fetcher, the `fetcher` field of a `Synchronizer` object has to be set to a `Fetcher` object that has been initialized. This creates a one-to-one relationship between the `Synchronizer` and `Fetcher` classes. For snap sync, it is necessary to create and run many fetchers - specifically, four (storage, account, bytecode, and trie node). Modify the `Synchronizer` class to

[2022-10-27 07:53] holgerd77 commented on #2389
Yes, that seems to make sense to me. 👍

[2022-10-27 11:29] g11tech commented on #2357
correct,  thats the discv5 functionality CL use, wondering if geth also uses same/similar

[2022-10-27 15:19] acolytec3 opened #2390 "Support receipts when mining/sealing blocks"
The client currently does not honor the `saveReceipts` CLI parameter when mining/sealing blocks with either PoW or PoA consensus.  Ideally, the receipts should be caught [here](https://github.com/ethereumjs/ethereumjs-monorepo/blob/1e903db3f29f7b4f93db3b2c61248a3c1babad27/packages/client/lib/miner/miner.ts#L286) and stored around [this point](https://github.com/ethereumjs/ethereumjs-monorepo/blob/

[2022-10-27 15:22] acolytec3 opened #2391 "Cleanup `handleEth`"
The [`handleEth`](https://github.com/ethereumjs/ethereumjs-monorepo/blob/1e903db3f29f7b4f93db3b2c61248a3c1babad27/packages/client/lib/service/fullethereumservice.ts#L228) function is a mess of `if...else if...` that should be converted to use a switch statement based on the `message.name` to improve the clarity of this code.

[2022-10-27 19:36] rodrigoherrerai commented on #1114
@acolytec3 One question, for eth_gasPrice, what should it return if the chain does not support 1559?

[2022-10-27 20:14] acolytec3 commented on #1114
I'd do something simple like just take the average gas price from transactions in the last block or 1, whatever is greater.

[2022-10-27 20:18] acolytec3 commented on #1114
Or alternatively, the average gas price of transactions in our txpool if there are any but that might be too complex for something that will be seldom used.

[2022-10-28 07:33] holgerd77 commented on #1114
Or maybe at least iterate over a couple of blocks (something like 15-20), maybe with a breaking condition to stop once a certain number of txs is included in the calculation (for performance reason, to not overload on heavy-load networks like mainnet, so e.g. stop with 1000 txs or so)?

We (EthereumJS client) are often operating on low-usage testnets, and we would otherwise pretty often fall back

[2022-10-28 07:36] holgerd77 commented on #1114
Update: ah, sorry, didn't take "chain with no 1559" too much into account. Then suggestion might be a bit over-engineered, not sure. On the other hand, this should also not be too laborious to add/implement, so might be a nice extra.

[2022-10-28 21:00] MicaiahReid opened #2393 "`CheckpointDB`'s implementation of `DB` makes types too narrow"
Because `CheckpointDB implements DB`, the types for the database supplied by the user are restricted to _only_ those defined in `DB` (i.e. `get`, `put`, `del`, `batch`, `copy`). This forces the user to restrict the properties of their database instances, or to have `as AnotherDatabaseType` type assertions in their code.

Ideally, the `DB` interface should be used to enforce that whatever database

[2022-10-31 18:10] #2391 closed

[2022-11-03 13:45] acolytec3 opened #2398 "Update EIP 3540 code"
Our current implementation of EIP-3540 EOF code validation in `evm/src/eof.ts` uses an older version of the reference implementation that is no longer present in the EIP.  The code still works with all current EIP3540 tests passing but it would be fruitful to update our implementation to match the current spec.  There are several items to be addressed
- [ ] `eofCodeAnalysis` should be updated to m

[2022-11-03 17:43] jochem-brouwer opened #2399 "VM updates nonce after running a transaction, but should do right before executing it"
There are three phases of a transaction:

1. The initialization phase. In this phase, the tx is unpacked and it is being read, and the execution environment is being set up. (I.e. we create the right parameters to pass on to `EVM` when running a transaction in `runTx`)
2. The execution phase. In this phase, the transaction is executed: if a contract is called, we run the code.
3. The final phase.

[2022-11-03 20:25] winsvega opened #2400 "t8ntool export current basefee support"
In response of vm tests transition tool (retesteth)

Similar to current Difficulty a new field is introduced since eip1559

in result file:
[code]

in env file:
[code]
or
[code]

Providing client's basefee calculation given on env input, for tests generation and execution

[2022-11-04 00:49] shemnon opened #2402 "Eth/66 request ID `0` RLP encoded improperly"
For an Eth/66 response where the sender sends a request ID of `0` the response Id is being encoded in an invalid scalar.

[code]

Is an in-the-wild response.  The fourth byte is `00` which per RLP is an invalid leading character for a scalar value, which the request ID of Eth/66 is defined to be.  The [correct encoding of an RLP zero](https://github.com/ethereum/tests/blob/develop/RLPTests/rlptest

[2022-11-04 09:30] skyzaq24 opened #2403 "Where to find ForkHash for BSC network?"
I'm trying to connect `ethereumjs` to BSC network
I've got Genesis hash and some other data from an issue in this repo, but when I try to run `peer-communication` it connects to some peers and then it gives me `"Unknown forkhash"` error and disconnects.
Where can I find the info of the most recent hardfork? (including ForkHash).
Also, there is a block header field in `peer-communication` which I d

[2022-11-04 12:46] holgerd77 commented on #2393
What's the state of this discussion? 🙂

@MicaiahReid is it an option to do the architectural changes @faustbrian recommended? Any other suggestions or alternative ways to go?

Happy to hear additional comments and weightings! 🤓 😀

[2022-11-04 13:14] holgerd77 commented on #2399
@jochem-brouwer thanks for the detailed write-up on this! 🙂

[2022-11-04 14:22] holgerd77 commented on #2403
Hi there, BSC is not officially supported by this repo, so this will likely require some substantial amount of manual work to get things working.

If you want to create a matching Common instance you first need to get a list with the correct hardforks which occurred on BSC together with the matching blocks. You should then be able to actually *drop* the fork hashes from the list (these will be inv

[2022-11-04 16:43] holgerd77 commented on #2402
Thanks for reporting. This is an important bug and we'll try to fix soon.

I've seen that you have started integrating with Shandong ﻿here https://github.com/hyperledger/besu/pull/4599, great, exciting to see! 🙂

Is this bug a total blocker for you? Or can you move around respectively is this rather something annoying?

Anyhow: we'll also try to address short-term, not sure if we'll get this done

[2022-11-04 18:49] jochem-brouwer commented on #2399
Agh, right, I just realized why we did this in the first place, and why we had such lengthy discussions about it.

If we change back that we update the nonce in the VM before running the execution frame, and rollback #2397, then blockchain + state tests should all pass and we are fine. However, we are /not/ fine when we try to run this into the EVM. The problem is that, if we try to create a contr

[2022-11-04 19:02] jochem-brouwer commented on #2399
I do recall refraining from wanting to increase the nonce in the EVM, but am not sure anymore and also not what the reason was. @acolytec3 @gabrocheleau does this point ring any bells to you?

[2022-11-04 19:17] gabrocheleau commented on #2399
I vaguely remember that discussion and think I was in the "increase the nonce" camp. I'll try to find to discussion

[2022-11-04 19:56] skyzaq24 commented on #2403
Thanks @holgerd77
I did as you suggested and the fork hash issue is now resolved.
However, I have trouble calculating the block header in RLP format.
In peer-communication.ts there is a line that provides a block header Like this:
https://github.com/ethereumjs/ethereumjs-monorepo/blob/4d8bbd10847659f885ccf489246b74b92f1c0066/packages/devp2p/examples/peer-communication.ts#L40-L45

I've already trie

[2022-11-04 21:29] jochem-brouwer opened #2406 "Homestead: ShanghaiLove_Homestead failing"
When running tests with `test-all-hardforks` label, CI now always fails since `ShanghaiLove_Homestead` makes node run out of memory.

When I go back into time, for instance: c70a1585bb0ce3c8ad912189955c468677875d2d, which is #2244 (this did test all hardforks, including `ShanghaiLove_Homestead` which passed), it now locally also fails.

Starting to think this is not our problem, but the latest nod

[2022-11-04 21:37] jochem-brouwer commented on #2406
Checked on 18.0.0 and 16.0.0, both crash, the CI used a node version of node 16 so that's weird.

[2022-11-04 21:46] jochem-brouwer commented on #2406
Cannot reproduce at any code where the test does not fail. My ts-node is also at the right version per package.json.

[2022-11-05 01:09] acolytec3 commented on #2406
Can confirm I was able to reproduce too.

[2022-11-05 01:28] acolytec3 commented on #2406
I haven't solved it yet but this article was immensely helpful for getting me started with the nodejs debugging interface for Chrome Devtools - https://medium.com/@paul_irish/debugging-node-js-nightlies-with-chrome-devtools-7c4a1b95ae27#.pmqejrn8q

Now I just have to figure out why the statemanager is causing us to run out of memory :-)

[2022-11-05 01:39] acolytec3 commented on #2406
What's weird is if I run this test with ` node --inspect-brk --require ts-node/register ./test/tester --blockchain --stack-size=1500  --fork=Homestead --test=ShanghaiLove_Homestead` and start the test from the Chrome Devtools debugger, it passes.  :thinking:

[2022-11-05 07:19] jochem-brouwer commented on #2406
What could be possible is that this DoS vector `DELEGATECALL`s into the same contract each time, so we keep copying the code. However this does not really explain why we go to 2.4 Gb+ memory so it goes out-of-memory. It seems that when we delegatecall, the `runCall` part in `EVM` is taking a ton of time/memory, so that would need further investigation (I think also apart from this investigation wh

[2022-11-05 10:07] acolytec3 commented on #2406
So basically we're now susceptible to the same Shanghai DoS attack that geth was.  The client finally made it to 2016!  :-)

[2022-11-05 13:06] g11tech commented on #2402
for reqId this is fixed, but needs to be evaulated for various other fields in this PR
- https://github.com/ethereumjs/ethereumjs-monorepo/pull/2409

[2022-11-05 13:11] g11tech commented on #2402
may i know which encoded message is this? will add this as testcase

[2022-11-07 08:47] holgerd77 commented on #2406
Just to put things in perspective a bit, we have realized around our dealing with the Shanghai dDoS attacks here #1536 that we are susceptible to various different attack vectors regarding performance/out-of-memory for quite some time, so not sure if this really deserves a "very important" label.

But it would be for sure nice/good if we fix/improve on those things over time.

[2022-11-07 08:48] holgerd77 commented on #2406
(but definitely no "we need to sove it now" thing)

[2022-11-07 09:01] holgerd77 commented on #2403
Hi there,
this is just an arbitrary check to see if syncing works correctly in the example, it is functionally not necessary though.

The hex code you linked above is an RLP-serialized block header. You can try to integrate one of the BSC blocks, e.g. by getting some block data via an RPC service (Infura or similar) and then serialize it in some way.

In the EthereumJS world you would first instan

[2022-11-07 12:52] jochem-brouwer commented on #2406
This PR causes the problem: https://github.com/ethereumjs/ethereumjs-monorepo/pull/2285

[2022-11-07 12:58] acolytec3 commented on #2406
Interesting. I wonder what about the inner workings of those two libraries is different and causes this. If we decide to go this way, it shouldn't be too too hard to just revert to the older library. I'll have to look at the API but it should be pretty similar.

[2022-11-07 14:20] ZLY201 commented on #2406
I find the reason.

The space complexity of `functional-red-black-tree` saving copies is `O(logn)` but `js-sdsl` do it with `O(n)` because the operation `new OrderedMap(this.map)` save the whole tree copy.

`functional-red-black-tree` saves only one link in the tree by `this.map = this.map.insert()`.

[2022-11-07 14:53] shemnon commented on #2402
Any message.  Besu would send a request with "0" as the request ID and any response would have "00" instead of "80" as a response.

Besu kicked the can down the road by starting at requestId 1.

[2022-11-07 22:20] shemnon commented on #2402
That's the crux of the bug.  Besu would send a reqId of 0, encoded in RLP as `0x80` (zero length byte array, as all leading zeros were trimmed).  EthJS would reply with a reqId of `0x00`, which should have been `0x80`.  A scalar of `0x00` is invalid, because it has one leading zero (the value itself).  So the correct number is no digits, hence the `0x80` zero-length byte array encoding.

[2022-11-08 01:53] acolytec3 commented on #2330
I believe this is closed by #2411.  @shresthagrawal care to take a look at our latest master and verify if it meets your needs?

[2022-11-08 04:25] tenthirtyone opened #2414 "`fromGethGenesis` sets `DEFAULT_HARDFORK` to `merge` when no `hardfork` is provided."
There may be a small bug in the way `fromGethGenesis` sets the default hardfork when creating a new `Common`.

The `parseGethGenesis` function it relies on to convert from `genesis.json` into `CommonOpts` relies on a [forkmap](https://github.com/ethereumjs/ethereumjs-monorepo/blob/5738e2762b260df279a26d924d12348ce8a9d3ce/packages/common/src/utils.ts#L83) to determine which hardforks are available

[2022-11-08 08:58] holgerd77 commented on #2414
Hi there, thanks for reporting, also just read the comment in the chat. To add here: generally we very much rely on the assumption within the EthereumJS libraries that a not-further-hardfork-referencing Common initializes with the default HF (currently: Merge), regardless what initialization method for Common has been used.

So always setting to the most recent fork is deviating too much from this

[2022-11-08 11:38] holgerd77 commented on #2406
Thanks for digging into this so quickly, super great!!! 💯

We'll give this some time to play around with this a bit more and then see and decide how best to handle this (switching back to the old package would be unlucky, but we'll see. Maybe there are alternative ways here, adopting the caching mechism or something like that.).

[2022-11-08 11:41] holgerd77 commented on #2330
@acolytec3 the PR you are referencing seems to not fix the `eth_call` part mentioned in the issue description. Is this also fixed? If so, any reference on this as well?

[2022-11-08 11:45] holgerd77 commented on #2402
This should be fixed with the Shandong restart from three days ago. @g11tech can you confirm?

[2022-11-08 13:58] acolytec3 commented on #2330
After I reviewed the [`eth_call` documentation](https://ethereum.org/en/developers/docs/apis/json-rpc/#eth_call) more closely, it turns out it doesn't have any concept of transaction types at all.  If you look at the description of the `transaction` object in the input parameters, it exactly matches what we already have implemented.  `eth_call` mimics our `evm.runCall` more closely than `vm.runTx`

[2022-11-08 20:36] tenthirtyone commented on #2414
@holgerd77 That makes sense, thanks for sharing your thoughts.

[2022-11-08 20:45] g11tech commented on #2402
Yes in shandong the fix is in. Do try syncing it and let know if everything works fine (or not :) )

[2022-11-08 21:03] acolytec3 opened #2415 "`createClient` opts are not typed"
The [`clientOpts`](https://github.com/ethereumjs/ethereumjs-monorepo/blob/9d470d336fa2cd606dbac31c4c6f8a6a1981f878/packages/client/test/rpc/helpers.ts#L59) for `createClient` in the rpc test helper are not typed and kind of a black box.  We should define an interface/type for these opts so we can understand what each test is doing when using this helper.

A good solution will be a new `clientOpts`

[2022-11-09 05:02] ZLY201 commented on #2406
I think the following data structure might be helpful in this case, but it's not suitable to add to js-sdsl, maybe create a new `awesome-js-sdsl ` repo is a good idea.

[code]

[2022-11-09 10:13] ZLY201 commented on #2406
I create a PR. https://github.com/js-sdsl/js-sdsl/pull/127

[2022-11-11 11:18] holgerd77 commented on #2406
Pretty cool! 💯 We'll try soon. 🙂

[2022-11-11 16:19] acolytec3 opened #2416 "`EthersStateManager` isn't exported by package"
The `EthersStateManager` isn't currently exported from `index.ts` so requires users to deep import it:
`import { EthersStateManager } from '@ethereumjs/statemanager/dist/ethersStateManager`

Let's fix this.

[2022-11-11 16:50] jochem-brouwer opened #2418 "Add PUSHd value to `step` event"
If we run into a `PUSH` opcode, put the value which is pushed into an (optional) field in EVMs `step` event

[2022-11-14 12:31] winsvega opened #2421 "pre eip158: 0 reward coinbase touch"
We found a bug in our tests.

In StateTests when generating test on pre EIP158 network, a coinbase get touched by 0 reward.
Thus the empty account must be present in the state pre EIP158.

the t8ntool ethereumjs test runner shows that it does not put empty coinbase account in the state.

[2022-11-14 12:44] #2416 closed

[2022-11-14 13:50] Cussone opened #2422 "Missing Arbitrum mainnet in CustomChain enum"
Couldn't find the open issue, is there a plan to add Arbitrum to CustomChain enum? I see there is a testnet, but not the actual chain.

[2022-11-14 16:45] axic commented on #2360
It would be nice renaming it. Changing https://github.com/comitylabs/evm.codes seem to also depend on this.

[2022-11-14 20:41] MicaiahReid commented on #2393
Hi @holgerd77, @faustbrian,

We have managed to make the changes internally to get the types here to work.

Things still would be a _little_ cleaner if the `CheckpointDB` used typescript generics to forward the user-defined types through. I started on a PR for this, but couldn't get it quite as clean as I'd hoped, so I didn't end up submitting it. If you ever plan on implementing those generics, I

[2022-11-15 12:12] holgerd77 commented on #2360
Hmm, just had another short look here: this is really somewhat complex and error prone. I would agree that it is a bit annoying to not have the more differentiating/correct `Paris` name here.

But we have methods like `getHardforkByBlockNumber(blockNumber: BigIntLike, td?: BigIntLike): string` which one would need to "teach" to return the alias instead of the original value, and that without break

[2022-11-15 12:16] holgerd77 commented on #2360
@thevaizman yeah, so to make it more concrete:

![grafik](https://user-images.githubusercontent.com/931137/201917536-d4b033cb-5dd6-4344-918d-21db5cae7687.png)

Can't you write "Merge (Paris)" or something here?

[2022-11-15 12:19] thevaizman commented on #2360
Hey, yeah we could do that, but for us the whole idea was to refer to the correct HF name instead of "merge".
Your concerns seem reasonable and so I guess we can wait for the right time to make that change :)

[2022-11-15 12:54] holgerd77 commented on #2422
Hi there, this doesn't really need a plan since it is a total no-brainer, it's just that no one noted until now. 😋

Would you want to open a short PR on this? So this would need small additions to `common.ts` and `enum.ts` I guess.

Gold standard would then be if you would/could then *use* the modified Common and send a real-world test tx analog to https://github.com/ethereumjs/ethereumjs-monorepo

[2022-11-16 12:03] #2402 closed

[2022-11-16 16:15] Cussone commented on #2422
Hey @holgerd77, thank you for the quick response.

I've just created a PR [#2426](https://github.com/ethereumjs/ethereumjs-monorepo/pull/2426). Did a real-world test successfully. Please, tell me if anything else is needed from my side. 😃

[2022-11-18 08:39] holgerd77 commented on #2019
Closed by #2059

[2022-11-18 08:39] #2019 closed

[2022-11-18 08:50] holgerd77 opened #2428 "v7 Breaking Release Planning (old)"
Follow-up on #1717

Next breaking release round for the monorepo libraries, intended timeline (all 2023):

- `March/April`: create `v7-develop` branch (version name important!), active development start
- `May/June`: First round of `Beta` releases
- `July` or `September/October`: Final Releases

## Breaking Changes

### Monorepo

- [ ] Monorepo-wide `Buffer` removal (Browser & create-react-app com

[2022-11-18 08:51] holgerd77 commented on #1976
Closed in favor of #2428 (unifies TODOs + better visibility in issue list)

[2022-11-18 08:51] #1976 closed

[2022-11-18 17:21] holgerd77 commented on #2422
Closed by #2426

[2022-11-18 17:21] #2422 closed

[2022-11-23 11:45] rajesh1158 opened #2429 "Error - ChainId does not match common - NodeJS"
In NodeJS environment (v16.16.0, npm v8.11.0), when I interact with the Polygon mumbai chain, I get the error `The chain ID does not match the chain ID of Common`. On further debugging, I figured out that the original typescript source code gets converted to commonjs code for nodejs to run, and the `chainId()` function of common class does not return a BigInt but it returns a Number. Below is the

[2022-11-23 12:54] holgerd77 commented on #2429
Hi there, thanks for reporting! Might very well be that there is some BigInt/Number related bug in the code triggered by some special BigInt/Number input combination and/or library usage.

I am still stumbling a bit upon this sentence you wrote ` I figured out that the original typescript source code gets converted to commonjs code for nodejs to run, and the chainId() function of common class does

[2022-11-23 13:27] rajesh1158 commented on #2429
Hi @holgerd77. Thanks for reaching out. Below is the function chainId() from node_modules/@ethereumjs/common/dist/index.js:

    chainId() {
        return (0, ethereumjs_util_1.toType)(this.chainIdBN(), ethereumjs_util_1.TypeOutput.Number);
    }

Clearly, the output type is a Number and not a BigInt.

[2022-11-23 13:29] rajesh1158 commented on #2429
The ethereumjs/tx version is `@ethereumjs/tx": "^4.0.1`, and the common package dependency version used by tx package.json is `^3.0.1`.

[2022-11-24 09:21] andkom opened #2430 "never receive NEW_BLOCK_HASHES or NEW_BLOCK message"
I never receive `NEW_BLOCK_HASHES` or `NEW_BLOCK` message from other nodes while communicating with Ethereum network.

Steps to reproduce:

[code]

[2022-11-24 10:32] acolytec3 commented on #2430
These messages are disabled post merge so you shouldn't see them from mainnet any more.

[2022-11-24 11:32] monstermax opened #2431 "Cannot sync blockchain. Block 609102 fails to execute"
Cannot execute block 609102 => invalid receiptTrie

`[11-24|06:58:37] INFO Executed blocks count=50 first=608950 hash=0xc387…a725 td=50367180021076080947 hardfork=chainstart last=609000 hash=0x828b…d771 txs=647
[11-24|06:58:37] INFO Executed blocks count=50 first=609000 hash=0x828b…d771 td=50367180021076080947 hardfork=chainstart last=609050 hash=0x93e0…141e txs=69
[11-24|06:58:38] INFO Executed b

[2022-11-24 11:36] holgerd77 commented on #2431
Thanks for reporting, I assume you are running towards Ethereum `mainnet`? 🤔

[2022-11-24 11:39] monstermax commented on #2431
yes, Ethereum mainnet, with the default config/code of this repo.

I previously had the same error using only the VM package and my own code.
Then, i tried the complete official ethereumjs client and i got the same error.

[2022-11-24 11:42] monstermax commented on #2431
Not only the receiptRoot is wrong. CumulativeGasUsed and stateRoot and wrong too.

Here is what i found :
[code]

[2022-11-24 13:37] monstermax commented on #2431
context :
- Linux Debian 11
- NodeJS v16.18.0

I didn't remember exactly the typed commands but it would be something like this :
[code]

[2022-11-24 13:39] monstermax commented on #2431
Note: i declared the issue on the client package but i think the problem comes from the VM

[2022-11-24 13:47] monstermax commented on #2430
Understood.

But, how new blocks are propagated ?

Should we periodically poll all peers to get the block ${lastNumber+1} ?

Indeed we need new blocks to complete our local blockchain and to cleanup the mempool.

[2022-11-24 13:55] monstermax commented on #2430
see this code https://github.com/ethereumjs/ethereumjs-monorepo/blob/master/packages/client/lib/service/fullethereumservice.ts#L259

`      case 'NewBlockHashes': {
        if (this.config.chainCommon.gteHardfork(Hardfork.Merge) === true) {
          this.config.logger.debug(
            `Dropping peer ${peer.id} for sending NewBlockHashes after merge (EIP-3675)`
          )
          this.pool.ba

[2022-11-24 15:38] rajesh1158 commented on #2429
Can anyone please guide me on this?

[2022-11-24 17:37] acolytec3 commented on #2429
Can you provide an example repo where we can recreate this issue? I'm not able to identify a root cause just from your description as your code snippets all looks correct on first glance.

[2022-11-24 19:14] acolytec3 commented on #2430
For getting chain updates post merge, you need to run our client with a CL client to get block updates. Lodestar is a good choice that works well with our client

[2022-11-25 09:34] wschwab commented on #2332
Sorry I hadn't gotten back to this, we're good on this front, closing issue.

[2022-11-25 10:48] jochem-brouwer commented on #2431
Did you run into this issue when "just" syncing the client? How did you test this same code using just the VM?

[2022-11-25 12:23] monstermax commented on #2431
Getting errors using my own code and Ethereumjs packages, it's my problem.
Getting errors using the official Ethereumjs client, it's your (our community) problem ^^

More seriuously, I have been working for some time on building a custom client, to proceed to my own blockchain analysis, and for educationnal purpose.
I use for this several packages of Ethereumjs (but not the client package).

So, a

[2022-11-25 13:01] jochem-brouwer commented on #2431
What is the gas used by this transaction if you run it?

[2022-11-25 13:06] jochem-brouwer commented on #2431
Nvm there is a 15k gas mismatch.

[2022-11-25 13:08] jochem-brouwer commented on #2431
What is the storage slot value of slot `0x0000000000000000000000000000000000000000000000000000000000000005` in contract `0x36B7E08108FE5840f125F12bAD33B4170D97A530` before running the transaction. And what is the value set to?

[2022-11-25 13:09] jochem-brouwer commented on #2431
(There is a 15k gas mismatch and this matches the `sstoreRefund` gas which is refunded at the end of the transaction in case a storage slot is set from nonzero value to zero value)

[2022-11-25 13:46] monstermax commented on #2431
ok, thank you for your answer.

I confirm i seen a 15k gas difference too.
`tx #1 cumulativeGasUsed mismatch => (in header: 138416) (executed: 153416)`

So, I understand the problem is around the refund when we release a storage slot.

I'll try to see the storage slot value you mentionned... (I don't know how to do it yet but i'll search and debug)

[2022-11-25 13:56] monstermax commented on #2431
[code]

[code]

[2022-11-25 14:30] jochem-brouwer commented on #2431
That looks correct to me when I compare to etherscan. The problem might be somewhere else. I will try to spin up the client soon and to reproduce it locally.

[2022-11-25 14:30] jochem-brouwer commented on #2431
Are you using our latest release?

[2022-11-25 14:39] monstermax commented on #2431
i succeed execute the block modifiying 1 line in util.js (see the last line below)

[code]

[2022-11-25 14:46] monstermax commented on #2431
Packages used by my own client code :

[code]

Last commit of the complete EthereumJS repo :

[code]

[2022-11-25 14:47] jochem-brouwer commented on #2431
I do not think this solves the problem. If you now have multiple storage refunds then at some point you can have negative gas costs if I look at that code, which is most likely wrong.

You can try running the unit tests (but you first have to setup the monorepo). In `./packages/vm` run;

`npm run test:state -- --fork=Chainstart`

or

`npm run test:blockchain -- --fork=Chainstart`

[2022-11-25 15:53] monstermax commented on #2431
The 2 tests return 'ok'.

(I had to clone manually the LegacyTests sub-sub-module even after ran "git submodule update")

To reproduice my problem:
[code]

result:
[code]

**Error: invalid receiptTrie (vm hf=chainstart -> block number=609102 hash=0xfc12b9286b1fd0b8cc3701e0c7960c998db10de69d9ccae5b474540a1aec9847 hf=chainstart baseFeePerGas=none txs=2 uncles=0)**

[2022-11-25 16:09] monstermax opened #2432 "Expected Uint8Array Error occured at each new epoch"
Hi all,

Using a homemade client built on EthereumJS packages, at each new epoch (blocks 60000,90000,120000,... but not the 30000th ?!) i got an error :
[code]

I could apply an ugly patch but I don't know why and how this bug occured.
https://github.com/ethereumjs/ethereumjs-monorepo/blob/master/packages/ethash/src/index.ts#L294
[code]
The `data.seed` should be a `Buffer` but it is a `JSON` encod

[2022-11-27 04:53] haiwood commented on #2403
can you share your common settings? been struggling to find the correct hardforks list

[2022-11-28 16:46] JowieXiang commented on #1114
Hello! I would like to work on this. I'm quite new to EVM and might take more time to finish a PR. Please suggest an Endpoint so I can get started :)

[2022-11-28 16:49] acolytec3 commented on #1114
If you are just starting into this, maybe `eth_getTransactionByBlockHashAndIndex` or `eth_getUncleCountByBlockHash`.  These should both be relatively straightforward to implement (basically just pulling a block from the DB and either getting the transaction (simple array index lookup) or getting the length of the uncle header array and returning it.

[2022-11-29 03:30] JowieXiang commented on #1114
Hi @acolytec3 thanks! I'll look into them.

[2022-11-29 07:54] weihaopeng opened #2435 "args.customGenesisState cause process exit."
When use `args.customChain`, whether set `args.customGenesisState` a string of `path to json file` or undefined, the process will exit.

related file: `packages/client/bin/cli.ts`, line 581 to line 592.

BTW, didn't see the arg `customChainParams` in args, but used in line 582. Is it `customChain`?

![image](https://user-images.githubusercontent.com/33681454/204469657-682a0e17-7884-435e-b550-b128b

[2022-11-29 08:27] lixinfenggh opened #2436 "State trie does not contain state root"
I try to build a custom block chain. First, I start node1, it works well.
![image](https://user-images.githubusercontent.com/15077525/204476082-c3a804de-09fb-44c1-bb82-3e08d070ec34.png)

Then I start node2.It seems to work on its own first. Then an error was thrown while it tried to import blocks from node1.
![image](https://user-images.githubusercontent.com/15077525/204477159-118515ab-914e-44e7-9

[2022-11-30 19:25] acolytec3 opened #2438 "Implement an ethers provider that wraps `ethersStateManager`"
Implementing a new provider that wraps the `ethersStateManager` would allow for simplified testing of continuous simulated transactions against any block height where the state changes made by any given transaction can be maintained.

[2022-11-30 20:27] jochem-brouwer commented on #2431
I can reproduce this problem. I have no idea what is going on, but there is a transaction to a contract, which then CREATEs a new contract. In this CREATE environment, 15k gas is added to refund. However, when the CREATE execution frame RETURNs, then the 15k gas is correctly returned as gas refund - but in the other execution frame, this result is now somehow zeroed out. This is not due to a CREAT

[2022-11-30 23:10] monstermax commented on #2431
thank you very much @jochem-brouwer